<div class="select-model show" (keyup.esc)="uiOnEscapeKey()" tabindex="0" #AccessModal>
  <div class="select-model-content">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Select {{ItemCamelName}}</h5>
        <button type="button" class="close" aria-label="Close" (click)="uiCloseModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

<!--  model body starts -->

	<div class="container search">
		<div class="row">
			<div class="col">

			    <div class="input-group">
	              <input type="search" class="form-control border border-secondary" id="musergroupTextSearch" 
						#musergroupTextSearch [(ngModel)]="searchText"
						(keydown.enter)="$event.target.blur();searchList();false"
					    placeholder="Search for group, description"> 
				  <div *ngIf="searchText" class="input-group-append icon-clear-inside">
					<span >
					    <i class="fas fa-times-circle" (click)="onSearchTextClear()" title="Clear"></i>
				    </span>
				  </div>
				  <div class="input-group-append">
				    <button type="button" class="btn btn-outline-secondary" (click)="searchList()"><i class="fas fa-search"></i></button>
				  </div>
				</div>
			
				<div class="text-center">
                    <span  class="pointer" (click)="toggleMoreSearch()">
                        <span class="refine-search-text">Refine Search &nbsp;</span>
                        <span>
                            <i *ngIf="!moreSearchOpened"  class="fas fa-plus-circle" title="More"></i>
                            <i *ngIf="moreSearchOpened" class="fas fa-minus-circle"  title="Less"></i>
                        </span>
                    </span>
				</div>
			    <div class="shadow" *ngIf="moreSearchOpened">
					<div class="card">
						<div class="card-body">


							<hr>
							<div class="single-line-edit mt-3">
								<div class="row">
								  	<div class="col-3"><label for="Archived">Archived</label></div>
								  	<div class="col-8">
										<label class="mr-1">No</label>
										<label class="switch">
											<input type="checkbox"
												[(ngModel)]="detail['archived']"
		        								#EditArchived="ngModel">
											<span class="slider round"></span>
										</label>
										<label class="ml-1">Yes</label>
									</div>
								</div>
							</div>
							<hr>

							<div class="action-buttons my-3" style="margin-top: 10px;">
									<button type="button" class="btn btn-outline-success" (click)="onSearchClear()">Reset</button>
									<button type="button" class="btn btn-success" (click)="searchList()">Search</button>
							</div>
						</div>
					</div>
		        </div>
		        <div *ngIf="!moreSearchOpened" style="text-align: left;">
					<span class="badge badge-pill badge-info" *ngFor="let value of searchMoreDetail">
					    <a (click)="toggleMoreSearch()" class="pointer"> {{value[0]}}: {{value[1]}}</a>
					    <i class="fas fa-times-circle icon-clear-badge" (click)="clearValueFromDetailAndSearchList(value[2])" title="Clear"></i>
					</span>
				</div>
		    

			</div>
		</div>
		<hr/>
		<div class="row justify-content-end mt-3">
		
			
		</div>
		<div class="d-flex justify-content-between">
			<div>
			</div>

			<div>
				<div class="total_counts">
					<span *ngIf="totalCount > 2">Total: <b>{{totalCount}}</b></span>
				</div>
			</div>
		</div>

		<div class="d-flex justify-content-center flex-wrap mt-2">
			<div *ngIf="totalPages > 1">
				<ul class="pagination justify-content-center">
					<li class="page-item"
							[ngClass]="{'disabled': page<=1}">
					<a class="page-link" routerLink="." (click)="onPreviousPage()"
						aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
						<span class="sr-only">Previous</span>
					</a>
					</li>

					<li *ngIf="leftMore" class="page-item"><a class="page-link">...</a></li>

					<li *ngFor="let p of pages;  let i = index" class="page-item"
							[ngClass]="{'active': p==page}">
						<a class="page-link" routerLink="." (click)="onGotoPage(p)">{{p}}</a>
					</li>

					<li *ngIf="rightMore" class="page-item"><a class="page-link">...</a></li>
					<li class="page-item"
							[ngClass]="{'disabled': page>=totalPages}">
					<a class="page-link" routerLink="." (click)="onNextPage()"
						aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
						<span class="sr-only">Next</span>
					</a>
					</li>
				</ul>
			</div>
			<div class="ml-3" *ngIf="totalPages > 1">
				<small>Page</small>&nbsp;<input type="number" class="page-control form-control" [value]="page" (input)="onGotoPage($event.target.value)" />&nbsp;/&nbsp;{{totalPages}}
			</div>
		</div>

	</div>
	
	<table class="table table-bordered table-hover">
	    <thead class="thead-light">
	    	<tr>
		        <th scope="col">#</th>

		        <th scope="col">Group</th>
		        <th scope="col">Description</th>

		        <th></th>      
	        </tr>
	    </thead>
	    <tbody>
	        <tr *ngFor="let detail of list;  let i = index" 
	        	[ngClass]="{'clicked-row': detail['_id']==clickedId}" >
	            <td scope="row" (click)="selectItemSelected(i)"  class="pointer">{{(page-1)*perPage+i+1}}</td>

	            <td (click)="selectItemSelected(i)"  class="pointer">
                    {{detail['group']}}
	            </td>
	            <td (click)="selectItemSelected(i)"  class="pointer">
                    {{detail['description']}}
	            </td>

	            <td><a routerLink="." class="btn" 
					 [ngClass]="{'btn-primary': detail['_id']==selectedId || checkedItem[i], 
					 			'btn-outline-primary': detail['_id']!==selectedId && !checkedItem[i]}"
	            	 (click)="selectViewDetail(i)">View Details</a>
	            </td>
	        </tr>
	    </tbody>
	</table>
	
	<div class="container">
		<div class="row justify-content-end mt-3">
		
			
		</div>
		<div class="d-flex justify-content-between">
			<div>
			</div>

			<div>
				<div class="total_counts">
					<span *ngIf="totalCount > 2">Total: <b>{{totalCount}}</b></span>
				</div>
			</div>
		</div>

		<div class="d-flex justify-content-center flex-wrap mt-2">
			<div *ngIf="totalPages > 1">
				<ul class="pagination justify-content-center">
					<li class="page-item"
							[ngClass]="{'disabled': page<=1}">
					<a class="page-link" routerLink="." (click)="onPreviousPage()"
						aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
						<span class="sr-only">Previous</span>
					</a>
					</li>

					<li *ngIf="leftMore" class="page-item"><a class="page-link">...</a></li>

					<li *ngFor="let p of pages;  let i = index" class="page-item"
							[ngClass]="{'active': p==page}">
						<a class="page-link" routerLink="." (click)="onGotoPage(p)">{{p}}</a>
					</li>

					<li *ngIf="rightMore" class="page-item"><a class="page-link">...</a></li>
					<li class="page-item"
							[ngClass]="{'disabled': page>=totalPages}">
					<a class="page-link" routerLink="." (click)="onNextPage()"
						aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
						<span class="sr-only">Next</span>
					</a>
					</li>
				</ul>
			</div>
			<div class="ml-3" *ngIf="totalPages > 1">
				<small>Page</small>&nbsp;<input type="number" class="page-control form-control" [value]="page" (input)="onGotoPage($event.target.value)" />&nbsp;/&nbsp;{{totalPages}}
			</div>
		</div>

	</div>
<!--  model body ends -->

      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div> 

