<div class="edit" *ngIf="detail">
	<div *ngIf="!embeddedView" class="action-buttons my-3">
	</div>

	<div class="card" style="text-align: left;">
		<div class="card-body">
			<h4 class="card-title" *ngIf="!embeddedView && !options['title']">{{action}} Public Module</h4>
			<h4 class="card-title" *ngIf="options['title']" [ngStyle]="style['card-title']">
				{{options['title']}}
			</h4>
			<p	*ngIf="options['subtitle']" [ngStyle]="style['card-subtitle']">
				{{options['subtitle']}}
			</p>
			<form (ngSubmit)="onSubmit()" #editForm="ngForm">
				<ng-template [ngIf]="action == 'Edit'">
					<ng-template [ngIf]="!hiddenFields.includes('module')">
				<fieldset class="form-group">
					<label for="EditModule">Module</label>
						
          <div class="input-group">
            <input type="text" class="form-control rounded" id="EditModule" 
                    required
                    [(ngModel)]="detail['module']" name="EditModule"
                    #EditModule="ngModel">
            <div *ngIf="detail['module']"
                  class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('module')">
                  <i class="fas fa-times-circle" title="Clear"></i>
            </div>
          </div>
          <div [hidden]="EditModule.valid || EditModule.pristine || EditModule.errors.minlength"
           class="alert alert-danger">
            <div *ngIf="EditModule.errors && EditModule.errors.required">
              Module is required.
            </div>
          </div>

				</fieldset>
					</ng-template>
					<ng-template [ngIf]="!hiddenFields.includes('resources')">
				<fieldset class="form-group">
					<label for="EditResources">Resources</label>
						
          <div class="form-check"
                ngModelGroup="EditResources"
                #EditResources="ngModelGroup" 
            >
            <div class="badge-group" *ngIf="detail['resources'] && detail['resources']['selection']">
              <div class="badge badge-pill badge-secondary" *ngFor="let element of detail['resources']['selection']; let i = index;">
                  {{element}}
                <i class="fas fa-times-circle icon-clear-badge" (click)="clearValueFromArrayField('resources', i)" title="Remove"></i>
              </div>

              <span *ngIf="arraySelected('resources')" 
                class="icon-clear" (click)="clearValueFromDetail('resources')">
                <i class="fas fa-times-circle" title="Clear"></i>
              </span>
            </div>

            <hr>

            <div class="new-area">
                <div class="mt-1">
                  <a class="pointer" routerLink="." (click)="onAddArrayItemClicked('resources')"
                    style="font-size: 0.75rem;">
                    <i class="fas fa-plus-square" title="New"></i>
                    New
                  </a>
                </div>
            </div>
            <div *ngIf="detail['resources']['adding']" class="new-modal">
              <div class="card text-center new-card">
                <div class="card-body">
                  <input type="search" class="form-control border"
                    id="EditResourcesNew" #EditResourcesNew="ngModel"
                    [(ngModel)]="detail['resources']['new']" [ngModelOptions]="{standalone: true}" 
                    (keydown.enter)="$event.target.blur();onAddArrayItem('resources');false"> 
                  <div [hidden]="EditResourcesNew.valid
                      || EditResourcesNew.pristine 
                      || EditResourcesNew.errors.minlength"
                        class="alert alert-danger small p-1">
                  </div>
                  <div class="d-flex my-3 justify-content-center">
                    <button class="btn btn-outline-primary mx-1" [disabled]="!EditResourcesNew.valid" (click)="onAddArrayItem('resources')">Confirm</button>
                    <button class="btn btn-outline-secondary mx-1" (click)="onAddArrayItemCancelled('resources')">Cancel</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- fake hidden input ngModel for directive to check the values-->
            <input type="checkbox" name="EditResourcesSelection" 
               style="display:none"
               id="EditResourcesSelection"
                 [(ngModel)]="detail['resources']['selection'].length" 
                 #EditResourcesSelection="ngModel">
          </div>
          <div [hidden]="EditResources.valid || EditResources.pristine"
           class="alert alert-danger">
          </div>

				</fieldset>
					</ng-template>
				</ng-template>
				<ng-template [ngIf]="action == 'Create' || action == 'Add' ">
					<ng-template [ngIf]="!hiddenFields.includes('module')">
				<fieldset class="form-group">
					<label for="EditModule">Module</label>
						
          <div class="input-group">
            <input type="text" class="form-control rounded" id="EditModule" 
                    required
                    [(ngModel)]="detail['module']" name="EditModule"
                    #EditModule="ngModel">
            <div *ngIf="detail['module']"
                  class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('module')">
                  <i class="fas fa-times-circle" title="Clear"></i>
            </div>
          </div>
          <div [hidden]="EditModule.valid || EditModule.pristine || EditModule.errors.minlength"
           class="alert alert-danger">
            <div *ngIf="EditModule.errors && EditModule.errors.required">
              Module is required.
            </div>
          </div>

				</fieldset>
					</ng-template>
					<ng-template [ngIf]="!hiddenFields.includes('resources')">
				<fieldset class="form-group">
					<label for="EditResources">Resources</label>
						
          <div class="form-check"
                ngModelGroup="EditResources"
                #EditResources="ngModelGroup" 
            >
            <div class="badge-group" *ngIf="detail['resources'] && detail['resources']['selection']">
              <div class="badge badge-pill badge-secondary" *ngFor="let element of detail['resources']['selection']; let i = index;">
                  {{element}}
                <i class="fas fa-times-circle icon-clear-badge" (click)="clearValueFromArrayField('resources', i)" title="Remove"></i>
              </div>

              <span *ngIf="arraySelected('resources')" 
                class="icon-clear" (click)="clearValueFromDetail('resources')">
                <i class="fas fa-times-circle" title="Clear"></i>
              </span>
            </div>

            <hr>

            <div class="new-area">
                <div class="mt-1">
                  <a class="pointer" routerLink="." (click)="onAddArrayItemClicked('resources')"
                    style="font-size: 0.75rem;">
                    <i class="fas fa-plus-square" title="New"></i>
                    New
                  </a>
                </div>
            </div>
            <div *ngIf="detail['resources']['adding']" class="new-modal">
              <div class="card text-center new-card">
                <div class="card-body">
                  <input type="search" class="form-control border"
                    id="EditResourcesNew" #EditResourcesNew="ngModel"
                    [(ngModel)]="detail['resources']['new']" [ngModelOptions]="{standalone: true}" 
                    (keydown.enter)="$event.target.blur();onAddArrayItem('resources');false"> 
                  <div [hidden]="EditResourcesNew.valid
                      || EditResourcesNew.pristine 
                      || EditResourcesNew.errors.minlength"
                        class="alert alert-danger small p-1">
                  </div>
                  <div class="d-flex my-3 justify-content-center">
                    <button class="btn btn-outline-primary mx-1" [disabled]="!EditResourcesNew.valid" (click)="onAddArrayItem('resources')">Confirm</button>
                    <button class="btn btn-outline-secondary mx-1" (click)="onAddArrayItemCancelled('resources')">Cancel</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- fake hidden input ngModel for directive to check the values-->
            <input type="checkbox" name="EditResourcesSelection" 
               style="display:none"
               id="EditResourcesSelection"
                 [(ngModel)]="detail['resources']['selection'].length" 
                 #EditResourcesSelection="ngModel">
          </div>
          <div [hidden]="EditResources.valid || EditResources.pristine"
           class="alert alert-danger">
          </div>

				</fieldset>
					</ng-template>
				</ng-template>
				<div class="action-buttons-center my-3">
					<button type="submit" class="btn btn-success" [disabled]="!editForm.form.valid">Submit</button>
					<button class="btn btn-outline-success" type="button" (click)="editCancel()">Cancel</button>
				</div>
			</form>
		</div>
	</div>
</div>
