<div class="edit" *ngIf="detail">
	<div *ngIf="!embeddedView" class="action-buttons my-3">
	</div>

	<div class="card" style="text-align: left;">
		<div class="card-body">
			<h4 class="card-title" *ngIf="!embeddedView && !options['title']">{{action}} Access Control</h4>
			<h4 class="card-title" *ngIf="options['title']" [ngStyle]="style['card-title']">
				{{options['title']}}
			</h4>
			<p	*ngIf="options['subtitle']" [ngStyle]="style['card-subtitle']">
				{{options['subtitle']}}
			</p>
			<form (ngSubmit)="onSubmit()" #editForm="ngForm">
				<ng-template [ngIf]="action == 'Edit'">
					<ng-template [ngIf]="!hiddenFields.includes('group')">
				<fieldset class="form-group">
					<label for="EditGroup">Group</label>
						
          <!-- <a class="icon-search" [routerLink]="['.']" (click)="onRefSelect('group')"><i class="fas fa-list" title="Search"></i></a>  -->
          <div class="input-group">
            <!--  [attr.disabled]="true" -->
              <input class="form-control rounded" id="EditGroup" 
                  [ngClass]="{'pointer ref-badge': detail['group']['_id']}"
                  (focus)="onRefSelect('group')"
                  required 
                  [ngModel]="detail['group']['value']" name="EditGroup"
                  #EditGroup="ngModel"> 
              <div *ngIf="detail['group']['value']" 
                class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('group')">
                <i class="fas fa-times-circle" title="Clear"></i>
              </div>
          </div>
          <div [hidden]="EditGroup.valid || EditGroup.pristine"
               class="alert alert-danger">
            <div *ngIf="EditGroup.errors && EditGroup.errors.required && !(detail['group']?.date)">
              Group is required.
            </div> 
          </div>

				</fieldset>
					</ng-template>
					<ng-template [ngIf]="!hiddenFields.includes('module')">
				<fieldset class="form-group">
					<label for="EditModule">Module</label>
						
          <!-- <a class="icon-search" [routerLink]="['.']" (click)="onRefSelect('module')"><i class="fas fa-list" title="Search"></i></a>  -->
          <div class="input-group">
            <!--  [attr.disabled]="true" -->
              <input class="form-control rounded" id="EditModule" 
                  [ngClass]="{'pointer ref-badge': detail['module']['_id']}"
                  (focus)="onRefSelect('module')"
                  required 
                  [ngModel]="detail['module']['value']" name="EditModule"
                  #EditModule="ngModel"> 
              <div *ngIf="detail['module']['value']" 
                class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('module')">
                <i class="fas fa-times-circle" title="Clear"></i>
              </div>
          </div>
          <div [hidden]="EditModule.valid || EditModule.pristine"
               class="alert alert-danger">
            <div *ngIf="EditModule.errors && EditModule.errors.required && !(detail['module']?.date)">
              Module is required.
            </div> 
          </div>

				</fieldset>
					</ng-template>
					<ng-template [ngIf]="!hiddenFields.includes('modulePermission')">
				<fieldset class="form-group">
					<label for="EditModulePermission">Module Permission</label>
						
          <div class="input-group">
            <input type="text" class="form-control rounded" id="EditModulePermission" 
                    [(ngModel)]="detail['modulePermission']" name="EditModulePermission"
                    #EditModulePermission="ngModel">
            <div *ngIf="detail['modulePermission']"
                  class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('modulePermission')">
                  <i class="fas fa-times-circle" title="Clear"></i>
            </div>
          </div>
          <div [hidden]="EditModulePermission.valid || EditModulePermission.pristine || EditModulePermission.errors.minlength"
           class="alert alert-danger">
          </div>

				</fieldset>
					</ng-template>
					<ng-template [ngIf]="!hiddenFields.includes('resourcePermission')">
				<fieldset class="form-group">
					<label for="EditResourcePermission">Resource Permission</label>
						
          <div class="form-check"
              ngModelGroup="EditResourcePermission"
              #EditResourcePermission="ngModelGroup"
          >
            <div class="row small">
              <div class="col-12 col-md-5 font-weight-bold">
                Key 
              </div>
              <div class="col-12 col-md-5 font-weight-bold">
                Value 
              </div>
            </div>
            <hr>
            <ng-template [ngIf]="detail['resourcePermission'] && detail['resourcePermission']['selection']">
            <ng-template ngFor let-key [ngForOf]="objectKeys(detail['resourcePermission']['selection'])" let-idx="index">
              <div class="row mb-2">
                <label class="form-check-label small col-12 col-md-5">{{key}}: </label>
                <div class="col-12 col-md-5">
                  <input type="text" class="form-control form-control-sm" id="ResourcePermissionElement{{idx}}"
                      [(ngModel)]="detail['resourcePermission']['selection'][key]" name="ResourcePermissionElement{{idx}}"
                      #ResourcePermissionElement{{idx}}="ngModel">
                </div>
                <span>
                  <i class="fas fa-times-circle" (click)="clearValueFromMapField('resourcePermission', key)" title="Remove"></i>
                </span>
              </div>
              <div [hidden]="!EditResourcePermission.control.controls || !EditResourcePermission.control.controls['ResourcePermissionElement'+idx]
                           || EditResourcePermission.control.controls['ResourcePermissionElement'+idx].valid
                           || EditResourcePermission.control.controls['ResourcePermissionElement'+idx].pristine
                           || EditResourcePermission.control.controls['ResourcePermissionElement'+idx].errors.minlength"
                    class="alert alert-danger small p-1">
              </div>
            </ng-template>
            </ng-template>
            <div class="row">
              <div class="input-group input-group-sm col-12 col-md-7">
                  <input type="search" class="form-control border"
                      id="EditResourcePermissionNew" #EditResourcePermissionNew="ngModel"
              [(ngModel)]="detail['resourcePermission']['new']" [ngModelOptions]="{standalone: true}"
              (keydown.enter)="$event.target.blur();onAddMapItem('resourcePermission');false"
                >
                <div class="input-group-append">
                  <button type="button" class="btn btn-outline-secondary" (click)="onAddMapItem('resourcePermission')">
                      <i class="fas fa-plus"  title="Add new key"></i>
                  </button>
                </div>
                <span class="ml-1 small">new key</span>
              </div>
            </div>
          </div>

				</fieldset>
					</ng-template>
				</ng-template>
				<ng-template [ngIf]="action == 'Create' || action == 'Add' ">
					<ng-template [ngIf]="!hiddenFields.includes('group')">
				<fieldset class="form-group">
					<label for="EditGroup">Group</label>
						
          <!-- <a class="icon-search" [routerLink]="['.']" (click)="onRefSelect('group')"><i class="fas fa-list" title="Search"></i></a>  -->
          <div class="input-group">
            <!--  [attr.disabled]="true" -->
              <input class="form-control rounded" id="EditGroup" 
                  [ngClass]="{'pointer ref-badge': detail['group']['_id']}"
                  (focus)="onRefSelect('group')"
                  required 
                  [ngModel]="detail['group']['value']" name="EditGroup"
                  #EditGroup="ngModel"> 
              <div *ngIf="detail['group']['value']" 
                class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('group')">
                <i class="fas fa-times-circle" title="Clear"></i>
              </div>
          </div>
          <div [hidden]="EditGroup.valid || EditGroup.pristine"
               class="alert alert-danger">
            <div *ngIf="EditGroup.errors && EditGroup.errors.required && !(detail['group']?.date)">
              Group is required.
            </div> 
          </div>

				</fieldset>
					</ng-template>
					<ng-template [ngIf]="!hiddenFields.includes('module')">
				<fieldset class="form-group">
					<label for="EditModule">Module</label>
						
          <!-- <a class="icon-search" [routerLink]="['.']" (click)="onRefSelect('module')"><i class="fas fa-list" title="Search"></i></a>  -->
          <div class="input-group">
            <!--  [attr.disabled]="true" -->
              <input class="form-control rounded" id="EditModule" 
                  [ngClass]="{'pointer ref-badge': detail['module']['_id']}"
                  (focus)="onRefSelect('module')"
                  required 
                  [ngModel]="detail['module']['value']" name="EditModule"
                  #EditModule="ngModel"> 
              <div *ngIf="detail['module']['value']" 
                class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('module')">
                <i class="fas fa-times-circle" title="Clear"></i>
              </div>
          </div>
          <div [hidden]="EditModule.valid || EditModule.pristine"
               class="alert alert-danger">
            <div *ngIf="EditModule.errors && EditModule.errors.required && !(detail['module']?.date)">
              Module is required.
            </div> 
          </div>

				</fieldset>
					</ng-template>
					<ng-template [ngIf]="!hiddenFields.includes('modulePermission')">
				<fieldset class="form-group">
					<label for="EditModulePermission">Module Permission</label>
						
          <div class="input-group">
            <input type="text" class="form-control rounded" id="EditModulePermission" 
                    [(ngModel)]="detail['modulePermission']" name="EditModulePermission"
                    #EditModulePermission="ngModel">
            <div *ngIf="detail['modulePermission']"
                  class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('modulePermission')">
                  <i class="fas fa-times-circle" title="Clear"></i>
            </div>
          </div>
          <div [hidden]="EditModulePermission.valid || EditModulePermission.pristine || EditModulePermission.errors.minlength"
           class="alert alert-danger">
          </div>

				</fieldset>
					</ng-template>
					<ng-template [ngIf]="!hiddenFields.includes('resourcePermission')">
				<fieldset class="form-group">
					<label for="EditResourcePermission">Resource Permission</label>
						
          <div class="form-check"
              ngModelGroup="EditResourcePermission"
              #EditResourcePermission="ngModelGroup"
          >
            <div class="row small">
              <div class="col-12 col-md-5 font-weight-bold">
                Key 
              </div>
              <div class="col-12 col-md-5 font-weight-bold">
                Value 
              </div>
            </div>
            <hr>
            <ng-template [ngIf]="detail['resourcePermission'] && detail['resourcePermission']['selection']">
            <ng-template ngFor let-key [ngForOf]="objectKeys(detail['resourcePermission']['selection'])" let-idx="index">
              <div class="row mb-2">
                <label class="form-check-label small col-12 col-md-5">{{key}}: </label>
                <div class="col-12 col-md-5">
                  <input type="text" class="form-control form-control-sm" id="ResourcePermissionElement{{idx}}"
                      [(ngModel)]="detail['resourcePermission']['selection'][key]" name="ResourcePermissionElement{{idx}}"
                      #ResourcePermissionElement{{idx}}="ngModel">
                </div>
                <span>
                  <i class="fas fa-times-circle" (click)="clearValueFromMapField('resourcePermission', key)" title="Remove"></i>
                </span>
              </div>
              <div [hidden]="!EditResourcePermission.control.controls || !EditResourcePermission.control.controls['ResourcePermissionElement'+idx]
                           || EditResourcePermission.control.controls['ResourcePermissionElement'+idx].valid
                           || EditResourcePermission.control.controls['ResourcePermissionElement'+idx].pristine
                           || EditResourcePermission.control.controls['ResourcePermissionElement'+idx].errors.minlength"
                    class="alert alert-danger small p-1">
              </div>
            </ng-template>
            </ng-template>
            <div class="row">
              <div class="input-group input-group-sm col-12 col-md-7">
                  <input type="search" class="form-control border"
                      id="EditResourcePermissionNew" #EditResourcePermissionNew="ngModel"
              [(ngModel)]="detail['resourcePermission']['new']" [ngModelOptions]="{standalone: true}"
              (keydown.enter)="$event.target.blur();onAddMapItem('resourcePermission');false"
                >
                <div class="input-group-append">
                  <button type="button" class="btn btn-outline-secondary" (click)="onAddMapItem('resourcePermission')">
                      <i class="fas fa-plus"  title="Add new key"></i>
                  </button>
                </div>
                <span class="ml-1 small">new key</span>
              </div>
            </div>
          </div>

				</fieldset>
					</ng-template>
				</ng-template>
				<div class="action-buttons-center my-3">
					<button type="submit" class="btn btn-success" [disabled]="!editForm.form.valid">Submit</button>
					<button class="btn btn-outline-success" type="button" (click)="editCancel()">Cancel</button>
				</div>
			</form>
		</div>
	</div>
</div>

<ng-template access-ref-select></ng-template>