<div class="edit" *ngIf="detail">
  <div class="card" style="text-align: left;">
    <div class="card-body">
      <h4 class="card-title" *ngIf="!embeddedView && !options['title']">{{action}} Account Role</h4>
      <h4 class="card-title" *ngIf="options['title']" [ngStyle]="style['card-title']">
        {{options['title']}}
      </h4>
      <p *ngIf="options['subtitle']" [ngStyle]="style['card-subtitle']">
        {{options['subtitle']}}
      </p>
      <form (ngSubmit)="onSubmit()" #editForm="ngForm">
        <ng-template [ngIf]="action == 'Edit'">
          <ng-template [ngIf]="!hiddenFields.includes('account')">
            <fieldset class="form-group">
              <label for="EditAccount">Account</label>
              <!-- <a class="icon-search" [routerLink]="['.']" (click)="onRefSelect('account')"><i class="fas fa-list" title="Search"></i></a>  -->
              <div class="input-group">
                <!--  [attr.disabled]="true" -->
                <input class="form-control rounded" id="EditAccount" [ngClass]="{'pointer ref-badge': detail['account']['_id']}" (focus)="onRefSelect('account')" required [ngModel]="detail['account']['valueMedium']" name="EditAccount" #EditAccount="ngModel">
                <div *ngIf="detail['account']['valueMedium']" class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('account')">
                  <i class="fas fa-times-circle" title="Clear"></i>
                </div>
              </div>
              <div [hidden]="EditAccount.valid || EditAccount.pristine" class="alert alert-danger">
                <div *ngIf="EditAccount.errors && EditAccount.errors.required && !(detail['account']?.date)"> Account is required. </div>
              </div>
            </fieldset>
          </ng-template>
          <ng-template [ngIf]="!hiddenFields.includes('role')">
            <fieldset class="form-group">
              <label for="EditRole">Role</label>
              <div class="form-check" ngModelGroup="EditRole" #EditRole="ngModelGroup">
                <ng-template [ngIf]="detail['role'] && detail['role']['selection']">
                  <div class="badge badge-pill badge-secondary" *ngFor="let element of detail['role']['selection']; let i = index;">
                    {{element.valueMedium}}
                    <i class="fas fa-times-circle icon-clear-badge" (click)="clearValueFromArrayField('role', i)" title="Remove"></i>
                  </div>
                </ng-template>
                <span *ngIf="arraySelected('role')" class="icon-clear" (click)="clearValueFromDetail('role')">
                  <i class="fas fa-times-circle" title="Clear"></i>
                </span>
                <button type="button" class="btn btn-light ml-3" (click)="onRefSelect('role')">
                  <i class="fas fa-plus" title="Add"></i>
                </button>
                <!-- fake hidden input ngModel for directive to check the values-->
                <input type="checkbox" name="EditRoleSelection" style="display:none" id="EditRoleSelection" [(ngModel)]="detail['role']['selection'].length" #EditRoleSelection="ngModel">
              </div>
              <div [hidden]="EditRole.valid || EditRole.pristine" class="alert alert-danger">
              </div>
            </fieldset>
          </ng-template>
        </ng-template>
        <ng-template [ngIf]="action == 'Create' || action == 'Add' ">
          <ng-template [ngIf]="!hiddenFields.includes('account')">
            <fieldset class="form-group">
              <label for="EditAccount">Account</label>
              <!-- <a class="icon-search" [routerLink]="['.']" (click)="onRefSelect('account')"><i class="fas fa-list" title="Search"></i></a>  -->
              <div class="input-group">
                <!--  [attr.disabled]="true" -->
                <input class="form-control rounded" id="EditAccount" [ngClass]="{'pointer ref-badge': detail['account']['_id']}" (focus)="onRefSelect('account')" required [ngModel]="detail['account']['valueMedium']" name="EditAccount" #EditAccount="ngModel">
                <div *ngIf="detail['account']['valueMedium']" class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('account')">
                  <i class="fas fa-times-circle" title="Clear"></i>
                </div>
              </div>
              <div [hidden]="EditAccount.valid || EditAccount.pristine" class="alert alert-danger">
                <div *ngIf="EditAccount.errors && EditAccount.errors.required && !(detail['account']?.date)"> Account is required. </div>
              </div>
            </fieldset>
          </ng-template>
          <ng-template [ngIf]="!hiddenFields.includes('role')">
            <fieldset class="form-group">
              <label for="EditRole">Role</label>
              <div class="form-check" ngModelGroup="EditRole" #EditRole="ngModelGroup">
                <ng-template [ngIf]="detail['role'] && detail['role']['selection']">
                  <div class="badge badge-pill badge-secondary" *ngFor="let element of detail['role']['selection']; let i = index;">
                    {{element.valueMedium}}
                    <i class="fas fa-times-circle icon-clear-badge" (click)="clearValueFromArrayField('role', i)" title="Remove"></i>
                  </div>
                </ng-template>
                <span *ngIf="arraySelected('role')" class="icon-clear" (click)="clearValueFromDetail('role')">
                  <i class="fas fa-times-circle" title="Clear"></i>
                </span>
                <button type="button" class="btn btn-light ml-3" (click)="onRefSelect('role')">
                  <i class="fas fa-plus" title="Add"></i>
                </button>
                <!-- fake hidden input ngModel for directive to check the values-->
                <input type="checkbox" name="EditRoleSelection" style="display:none" id="EditRoleSelection" [(ngModel)]="detail['role']['selection'].length" #EditRoleSelection="ngModel">
              </div>
              <div [hidden]="EditRole.valid || EditRole.pristine" class="alert alert-danger">
              </div>
            </fieldset>
          </ng-template>
        </ng-template>
        <div class="action-buttons-center">
          <button type="submit" class="btn btn-success" [disabled]="!editForm.form.valid">Submit</button>
          <button *ngIf="!options['disableCancel']" class="btn btn-outline-success" type="button" (click)="editCancel()">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
<ng-template roles-ref-select></ng-template>