<div class="edit">
	<div class="card" style="text-align: left;">
	  <div class="card-body">
	    <h4 class="card-title">Change Password</h4>    
	    <div class="card-text">

          <div *ngIf="detail['username']" class="row">
			<div class="col-3"><label class="field-label">Username</label></div>
			<div class="col-9">  {{detail['username']}}</div>
          </div>

          <div *ngIf="detail['email']" class="row">
			<div class="col-3"><label class="field-label">Email</label></div>
			<div class="col-9">  {{detail['email']}}</div>
          </div>

          <div *ngIf="detail['phone']" class="row">
			<div class="col-3"><label class="field-label">Phone</label></div>
			<div class="col-9">  {{detail['phone']}}</div>
          </div>
		</div>
	    <hr/>
	    <form (ngSubmit)="onSubmit()" #passForm="ngForm">
	        
	      <fieldset class="form-group">
	        <label for="muserEditPassword">Password</label>

	        <input type="password" class="form-control" id="muserEditPassword" 
	                required
	                [(ngModel)]="detail['password']" name="muserEditPassword"
	                #muserEditPassword="ngModel">
	        <div [hidden]="muserEditPassword.valid || muserEditPassword.pristine || muserEditPassword.errors.minlength"
     			class="alert alert-danger">
	          <div *ngIf="muserEditPassword.errors && muserEditPassword.errors.required">
    	        Password is required.
  	          </div> 
	        </div>
	      </fieldset>

	      <fieldset class="form-group">
	        <label for="muserEditConfirmPassword">Confirm Password</label>

	        <input type="password" class="form-control" id="muserEditConfirmPassword" 
	                required
	                passwordValidateEqual="muserEditPassword"
	                [(ngModel)]="tempString" name="muserEditConfirmPassword"
	                #muserEditConfirmPassword="ngModel">
	        <div [hidden]="muserEditConfirmPassword.valid || muserEditConfirmPassword.pristine || muserEditConfirmPassword.errors.minlength"
     			class="alert alert-danger">
	          <div *ngIf="muserEditConfirmPassword.errors && muserEditConfirmPassword.errors.required">
    	        Confirm Password is required.
  	          </div> 
	          <div *ngIf="muserEditConfirmPassword.errors && muserEditConfirmPassword.errors.passwordValidateEqual">
    	        Password doesn't match.
  	          </div> 
	        </div>
	      </fieldset>

    
		<div class="action-buttons-center">
	     	<button type="submit" class="btn btn-success" 
     			[disabled]="!passForm.form.valid">Submit</button>
	     	<button class="btn btn-outline-success" 
     			type="button" (click)="editCancel()">Cancel</button>
		</div>
	    </form>
	  </div>
	</div>
</div>

