<div class="container">
  <div class="card component-main-card">
    <div class="card-header">
      <nav class="nav nav-pills">
        <a class="nav-item nav-link" routerLink="./mrole" routerLinkActive="active">Role</a>
        <a class="nav-item nav-link" routerLink="./mmodule" routerLinkActive="active">System Module</a>
        <a class="nav-item nav-link" routerLink="./mpermission" routerLinkActive="active">Permission</a>
        <a class="nav-item nav-link" routerLink="./maccount" routerLinkActive="active">Account</a>
        <a class="nav-item nav-link" routerLink="./maccountrole" routerLinkActive="active">Account Role</a>
      </nav>
    </div>
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>