<div class="edit" *ngIf="detail">
	<div class="card" style="text-align: left;">
		<div class="card-body">
			<h4 class="card-title" *ngIf="!embeddedView && !options['title']">{{action}} Account</h4>
			<h4 class="card-title" *ngIf="options['title']" [ngStyle]="style['card-title']">
				{{options['title']}}
			</h4>
			<p	*ngIf="options['subtitle']" [ngStyle]="style['card-subtitle']">
				{{options['subtitle']}}
			</p>
			<form (ngSubmit)="onSubmit()" #editForm="ngForm">
				<ng-template [ngIf]="action == 'Edit'">
					<ng-template [ngIf]="!hiddenFields.includes('username')">
				<fieldset class="form-group">
					<label for="EditUsername">Username</label>
						
          <div class="input-group">
            <input type="text" class="form-control rounded" id="EditUsername" 
                    required
                    [(ngModel)]="detail['username']" name="EditUsername"
                    #EditUsername="ngModel">
            <div *ngIf="detail['username']"
                  class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('username')">
                  <i class="fas fa-times-circle" title="Clear"></i>
            </div>
          </div>
          <div [hidden]="EditUsername.valid || EditUsername.pristine || EditUsername.errors.minlength"
           class="alert alert-danger">
            <div *ngIf="EditUsername.errors && EditUsername.errors.required">
              Username is required.
            </div>
          </div>

				</fieldset>
					</ng-template>
					<ng-template [ngIf]="!hiddenFields.includes('email')">
				<fieldset class="form-group">
					<label for="EditEmail">Email</label>
						
          <div class="input-group">
            <input type="text" class="form-control rounded" id="EditEmail" 
                    [(ngModel)]="detail['email']" name="EditEmail"
                    #EditEmail="ngModel">
            <div *ngIf="detail['email']"
                  class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('email')">
                  <i class="fas fa-times-circle" title="Clear"></i>
            </div>
          </div>
          <div [hidden]="EditEmail.valid || EditEmail.pristine || EditEmail.errors.minlength"
           class="alert alert-danger">
          </div>

				</fieldset>
					</ng-template>
					<ng-template [ngIf]="!hiddenFields.includes('phone')">
				<fieldset class="form-group">
					<label for="EditPhone">Phone</label>
						
          <div class="input-group">
            <input type="text" class="form-control rounded" id="EditPhone" 
                    [(ngModel)]="detail['phone']" name="EditPhone"
                    #EditPhone="ngModel">
            <div *ngIf="detail['phone']"
                  class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('phone')">
                  <i class="fas fa-times-circle" title="Clear"></i>
            </div>
          </div>
          <div [hidden]="EditPhone.valid || EditPhone.pristine || EditPhone.errors.minlength"
           class="alert alert-danger">
          </div>

				</fieldset>
					</ng-template>
					<ng-template [ngIf]="!hiddenFields.includes('firstname')">
				<fieldset class="form-group">
					<label for="EditFirstname">Firstname</label>
						
          <div class="input-group">
            <input type="text" class="form-control rounded" id="EditFirstname" 
                    maxlength="100"
                    [(ngModel)]="detail['firstname']" name="EditFirstname"
                    #EditFirstname="ngModel">
            <div *ngIf="detail['firstname']"
                  class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('firstname')">
                  <i class="fas fa-times-circle" title="Clear"></i>
            </div>
          </div>
          <div [hidden]="EditFirstname.valid || EditFirstname.pristine || EditFirstname.errors.minlength"
           class="alert alert-danger">
            <div *ngIf="EditFirstname.errors && EditFirstname.errors.maxlength">
                Firstname must be at most 100 characters long.
            </div>
          </div>

				</fieldset>
					</ng-template>
					<ng-template [ngIf]="!hiddenFields.includes('lastname')">
				<fieldset class="form-group">
					<label for="EditLastname">Lastname</label>
						
          <div class="input-group">
            <input type="text" class="form-control rounded" id="EditLastname" 
                    maxlength="100"
                    [(ngModel)]="detail['lastname']" name="EditLastname"
                    #EditLastname="ngModel">
            <div *ngIf="detail['lastname']"
                  class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('lastname')">
                  <i class="fas fa-times-circle" title="Clear"></i>
            </div>
          </div>
          <div [hidden]="EditLastname.valid || EditLastname.pristine || EditLastname.errors.minlength"
           class="alert alert-danger">
            <div *ngIf="EditLastname.errors && EditLastname.errors.maxlength">
                Lastname must be at most 100 characters long.
            </div>
          </div>

				</fieldset>
					</ng-template>
					<ng-template [ngIf]="!hiddenFields.includes('status')">
				<fieldset class="form-group">
					<label for="EditStatus">Status</label>
						
          <div class="form-check"
              [ngClass]="{'ng-valid': true} "
            >
            <div class="form-check-inline">
              <input type="radio" name="EditStatus"
                class="form-check-input"
                id="EditStatusEnabled" [value]="'Enabled'"
                [(ngModel)]="detail['status']"
                #EditStatus="ngModel">
              <label class="form-check-label">Enabled</label>
            </div>

            <div class="form-check-inline">
              <input type="radio" name="EditStatus"
                class="form-check-input"
                id="EditStatusDisabled" [value]="'Disabled'"
                [(ngModel)]="detail['status']"
                #EditStatus="ngModel">
              <label class="form-check-label">Disabled</label>
            </div>

            <div class="form-check-inline">
              <input type="radio" name="EditStatus"
                class="form-check-input"
                id="EditStatusPending" [value]="'Pending'"
                [(ngModel)]="detail['status']"
                #EditStatus="ngModel">
              <label class="form-check-label">Pending</label>
            </div>

            <span *ngIf="enums['status'].includes(detail['status'])"
              class="icon-clear" (click)="clearValueFromDetail('status')">
              <i class="fas fa-times-circle" title="Clear"></i>
            </span> 
          </div>
          <div [hidden]="EditStatus.valid || EditStatus.pristine || EditStatus.errors.minlength"
           class="alert alert-danger">
          </div>

				</fieldset>
					</ng-template>
				</ng-template>
				<ng-template [ngIf]="action == 'Create' || action == 'Add' ">
					<ng-template [ngIf]="!hiddenFields.includes('username')">
				<fieldset class="form-group">
					<label for="EditUsername">Username</label>
						
          <div class="input-group">
            <input type="text" class="form-control rounded" id="EditUsername" 
                    required
                    [(ngModel)]="detail['username']" name="EditUsername"
                    #EditUsername="ngModel">
            <div *ngIf="detail['username']"
                  class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('username')">
                  <i class="fas fa-times-circle" title="Clear"></i>
            </div>
          </div>
          <div [hidden]="EditUsername.valid || EditUsername.pristine || EditUsername.errors.minlength"
           class="alert alert-danger">
            <div *ngIf="EditUsername.errors && EditUsername.errors.required">
              Username is required.
            </div>
          </div>

				</fieldset>
					</ng-template>
					<ng-template [ngIf]="!hiddenFields.includes('email')">
				<fieldset class="form-group">
					<label for="EditEmail">Email</label>
						
          <div class="input-group">
            <input type="text" class="form-control rounded" id="EditEmail" 
                    [(ngModel)]="detail['email']" name="EditEmail"
                    #EditEmail="ngModel">
            <div *ngIf="detail['email']"
                  class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('email')">
                  <i class="fas fa-times-circle" title="Clear"></i>
            </div>
          </div>
          <div [hidden]="EditEmail.valid || EditEmail.pristine || EditEmail.errors.minlength"
           class="alert alert-danger">
          </div>

				</fieldset>
					</ng-template>
					<ng-template [ngIf]="!hiddenFields.includes('phone')">
				<fieldset class="form-group">
					<label for="EditPhone">Phone</label>
						
          <div class="input-group">
            <input type="text" class="form-control rounded" id="EditPhone" 
                    [(ngModel)]="detail['phone']" name="EditPhone"
                    #EditPhone="ngModel">
            <div *ngIf="detail['phone']"
                  class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('phone')">
                  <i class="fas fa-times-circle" title="Clear"></i>
            </div>
          </div>
          <div [hidden]="EditPhone.valid || EditPhone.pristine || EditPhone.errors.minlength"
           class="alert alert-danger">
          </div>

				</fieldset>
					</ng-template>
					<ng-template [ngIf]="!hiddenFields.includes('firstname')">
				<fieldset class="form-group">
					<label for="EditFirstname">Firstname</label>
						
          <div class="input-group">
            <input type="text" class="form-control rounded" id="EditFirstname" 
                    maxlength="100"
                    [(ngModel)]="detail['firstname']" name="EditFirstname"
                    #EditFirstname="ngModel">
            <div *ngIf="detail['firstname']"
                  class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('firstname')">
                  <i class="fas fa-times-circle" title="Clear"></i>
            </div>
          </div>
          <div [hidden]="EditFirstname.valid || EditFirstname.pristine || EditFirstname.errors.minlength"
           class="alert alert-danger">
            <div *ngIf="EditFirstname.errors && EditFirstname.errors.maxlength">
                Firstname must be at most 100 characters long.
            </div>
          </div>

				</fieldset>
					</ng-template>
					<ng-template [ngIf]="!hiddenFields.includes('lastname')">
				<fieldset class="form-group">
					<label for="EditLastname">Lastname</label>
						
          <div class="input-group">
            <input type="text" class="form-control rounded" id="EditLastname" 
                    maxlength="100"
                    [(ngModel)]="detail['lastname']" name="EditLastname"
                    #EditLastname="ngModel">
            <div *ngIf="detail['lastname']"
                  class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('lastname')">
                  <i class="fas fa-times-circle" title="Clear"></i>
            </div>
          </div>
          <div [hidden]="EditLastname.valid || EditLastname.pristine || EditLastname.errors.minlength"
           class="alert alert-danger">
            <div *ngIf="EditLastname.errors && EditLastname.errors.maxlength">
                Lastname must be at most 100 characters long.
            </div>
          </div>

				</fieldset>
					</ng-template>
					<ng-template [ngIf]="!hiddenFields.includes('status')">
				<fieldset class="form-group">
					<label for="EditStatus">Status</label>
						
          <div class="form-check"
              [ngClass]="{'ng-valid': true} "
            >
            <div class="form-check-inline">
              <input type="radio" name="EditStatus"
                class="form-check-input"
                id="EditStatusEnabled" [value]="'Enabled'"
                [(ngModel)]="detail['status']"
                #EditStatus="ngModel">
              <label class="form-check-label">Enabled</label>
            </div>

            <div class="form-check-inline">
              <input type="radio" name="EditStatus"
                class="form-check-input"
                id="EditStatusDisabled" [value]="'Disabled'"
                [(ngModel)]="detail['status']"
                #EditStatus="ngModel">
              <label class="form-check-label">Disabled</label>
            </div>

            <div class="form-check-inline">
              <input type="radio" name="EditStatus"
                class="form-check-input"
                id="EditStatusPending" [value]="'Pending'"
                [(ngModel)]="detail['status']"
                #EditStatus="ngModel">
              <label class="form-check-label">Pending</label>
            </div>

            <span *ngIf="enums['status'].includes(detail['status'])"
              class="icon-clear" (click)="clearValueFromDetail('status')">
              <i class="fas fa-times-circle" title="Clear"></i>
            </span> 
          </div>
          <div [hidden]="EditStatus.valid || EditStatus.pristine || EditStatus.errors.minlength"
           class="alert alert-danger">
          </div>

				</fieldset>
					</ng-template>
					<ng-template [ngIf]="!hiddenFields.includes('password')">
				<fieldset class="form-group">
					<label for="EditPassword">Password</label>
						
          <div class="input-group">
            <input type="text" class="form-control rounded" id="EditPassword" 
                    required
                    [(ngModel)]="detail['password']" name="EditPassword"
                    #EditPassword="ngModel">
            <div *ngIf="detail['password']"
                  class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('password')">
                  <i class="fas fa-times-circle" title="Clear"></i>
            </div>
          </div>
          <div [hidden]="EditPassword.valid || EditPassword.pristine || EditPassword.errors.minlength"
           class="alert alert-danger">
            <div *ngIf="EditPassword.errors && EditPassword.errors.required">
              Password is required.
            </div>
          </div>

				</fieldset>
					</ng-template>
				</ng-template>
				<div class="action-buttons-center">
					<button type="submit" class="btn btn-success" [disabled]="!editForm.form.valid">Submit</button>
					<button class="btn btn-outline-success" type="button" (click)="editCancel()">Cancel</button>
				</div>
			</form>
		</div>
	</div>
</div>
