<div class="select-model show" (keyup.esc)="uiOnEscapeKey()" tabindex="0" #AccessModal>
  <div class="select-model-content">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Select {{ItemCamelName}}</h5>
        <button type="button" class="close" aria-label="Close" (click)="uiCloseModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

<!--  model body starts -->

	<div class="container search">
		<div class="row">
			<div class="col">

			    <div class="input-group">
	              <input type="search" class="form-control border border-secondary" id="mpubmoduleTextSearch" 
						#mpubmoduleTextSearch [(ngModel)]="searchText"
						(keydown.enter)="$event.target.blur();searchList();false"
					    placeholder="Search for module"> 
				  <div *ngIf="searchText" class="input-group-append icon-clear-inside">
					<span >
					    <i class="fas fa-times-circle" (click)="onSearchTextClear()" title="Clear"></i>
				    </span>
				  </div>
				  <div class="input-group-append">
				    <button type="button" class="btn btn-outline-secondary" (click)="searchList()"><i class="fas fa-search"></i></button>
				  </div>
				</div>
			
				<div class="text-center">
                    <span  class="pointer" (click)="toggleMoreSearch()">
                        <span class="refine-search-text">Refine Search &nbsp;</span>
                        <span>
                            <i *ngIf="!moreSearchOpened"  class="fas fa-plus-circle" title="More"></i>
                            <i *ngIf="moreSearchOpened" class="fas fa-minus-circle"  title="Less"></i>
                        </span>
                    </span>
				</div>
			    <div class="shadow" *ngIf="moreSearchOpened">
					<div class="card">
						<div class="card-body">
	    <div class="single-line-edit">
	      <div class="row col-gutter">
			<div class="col-3">
				<label for="mpubmoduleEditResources">
				Resources
				</label>
			</div>
	        <div class="col-8">




			<div class="badge-group" *ngIf="detail['resources'] && detail['resources']['selection']">
				<div class="badge badge-pill badge-secondary" *ngFor="let element of detail['resources']['selection']; let i = index;">
					{{element}}
					<i class="fas fa-times-circle icon-clear-badge" (click)="clearValueFromArrayField('resources', i)" title="Remove"></i>
				</div>
			</div>
			<hr>
	
			<div class="available-hints">


				<div class="mt-1">
					<a class="pointer" routerLink="." (click)="onAddArrayItemClicked('resources')"
						style="font-size: 0.75rem;">
						<i class="fas fa-plus-square" title="New"></i>
						New
					</a>
				</div>
			</div>

			<div *ngIf="detail['resources']['adding']" class="new-modal">
				<div class="card text-center new-card">
					<div class="card-body">
					<input type="search" class="form-control border"
						id="EditResourcesNew" #EditResourcesNew="ngModel"
						[(ngModel)]="detail['resources']['new']" [ngModelOptions]="{standalone: true}"
						(keydown.enter)="$event.target.blur();onAddArrayItem('resources');false"> 

					<div class="d-flex my-3 justify-content-center">
						<button class="btn btn-outline-primary mx-1" [disabled]="!EditResourcesNew.valid" (click)="onAddArrayItem('resources')">Confirm</button>
						<button class="btn btn-outline-secondary mx-1" (click)="onAddArrayItemCancelled('resources')">Cancel</button>
					</div>
					</div>
				</div>
			</div>


 

	      </div>
	      
	      <div class="col-1">
		    <div class="icon-clear" (click)="clearValueFromDetail('resources')"
		        *ngIf="checkValueDefinedFromDetail('resources')"
		        ><i class="fas fa-times-circle" title="Clear"></i></div>
	      </div>
	    </div>
      </div>
      
 


							<hr>
							<div class="single-line-edit mt-3">
								<div class="row">
								  	<div class="col-3"><label for="Archived">Archived</label></div>
								  	<div class="col-8">
										<label class="mr-1">No</label>
										<label class="switch">
											<input type="checkbox"
												[(ngModel)]="detail['archived']"
		        								#EditArchived="ngModel">
											<span class="slider round"></span>
										</label>
										<label class="ml-1">Yes</label>
									</div>
								</div>
							</div>
							<hr>

							<div class="action-buttons my-3" style="margin-top: 10px;">
									<button type="button" class="btn btn-outline-success" (click)="onSearchClear()">Reset</button>
									<button type="button" class="btn btn-success" (click)="searchList()">Search</button>
							</div>
						</div>
					</div>
		        </div>
		        <div *ngIf="!moreSearchOpened" style="text-align: left;">
					<span class="badge badge-pill badge-info" *ngFor="let value of searchMoreDetail">
					    <a (click)="toggleMoreSearch()" class="pointer"> {{value[0]}}: {{value[1]}}</a>
					    <i class="fas fa-times-circle icon-clear-badge" (click)="clearValueFromDetailAndSearchList(value[2])" title="Clear"></i>
					</span>
				</div>
		    

			</div>
		</div>
		<hr/>
		<div class="row justify-content-end mt-3">
		
			
		</div>
		<div class="d-flex justify-content-between">
			<div>
			</div>

			<div>
				<div class="total_counts">
					<span *ngIf="totalCount > 2">Total: <b>{{totalCount}}</b></span>
				</div>
			</div>
		</div>

		<div class="d-flex justify-content-center flex-wrap mt-2">
			<div *ngIf="totalPages > 1">
				<ul class="pagination justify-content-center">
					<li class="page-item"
							[ngClass]="{'disabled': page<=1}">
					<a class="page-link" routerLink="." (click)="onPreviousPage()"
						aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
						<span class="sr-only">Previous</span>
					</a>
					</li>

					<li *ngIf="leftMore" class="page-item"><a class="page-link">...</a></li>

					<li *ngFor="let p of pages;  let i = index" class="page-item"
							[ngClass]="{'active': p==page}">
						<a class="page-link" routerLink="." (click)="onGotoPage(p)">{{p}}</a>
					</li>

					<li *ngIf="rightMore" class="page-item"><a class="page-link">...</a></li>
					<li class="page-item"
							[ngClass]="{'disabled': page>=totalPages}">
					<a class="page-link" routerLink="." (click)="onNextPage()"
						aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
						<span class="sr-only">Next</span>
					</a>
					</li>
				</ul>
			</div>
			<div class="ml-3" *ngIf="totalPages > 1">
				<small>Page</small>&nbsp;<input type="number" class="page-control form-control" [value]="page" (input)="onGotoPage($event.target.value)" />&nbsp;/&nbsp;{{totalPages}}
			</div>
		</div>

	</div>
	
	<table class="table table-bordered table-hover">
	    <thead class="thead-light">
	    	<tr>
		        <th scope="col">#</th>

		        <th scope="col">Module</th>
		        <th scope="col">Resources</th>

		        <th></th>      
	        </tr>
	    </thead>
	    <tbody>
	        <tr *ngFor="let detail of list;  let i = index" 
	        	[ngClass]="{'clicked-row': detail['_id']==clickedId}" >
	            <td scope="row" (click)="selectItemSelected(i)"  class="pointer">{{(page-1)*perPage+i+1}}</td>

	            <td (click)="selectItemSelected(i)"  class="pointer">
                    {{detail['module']}}
	            </td>
	            <td (click)="selectItemSelected(i)"  class="pointer">
                    <div *ngIf="detail['resources'] && detail['resources']['selection']">
                        <ng-template ngFor let-element [ngForOf]="detail['resources']['selection']" let-idx="index">
                            <div class="badge badge-pill badge-secondary">
                                {{element}}
                            </div>
                        </ng-template>
                    </div>
	            </td>

	            <td><a routerLink="." class="btn" 
					 [ngClass]="{'btn-primary': detail['_id']==selectedId || checkedItem[i], 
					 			'btn-outline-primary': detail['_id']!==selectedId && !checkedItem[i]}"
	            	 (click)="selectViewDetail(i)">View Details</a>
	            </td>
	        </tr>
	    </tbody>
	</table>
	
	<div class="container">
		<div class="row justify-content-end mt-3">
		
			
		</div>
		<div class="d-flex justify-content-between">
			<div>
			</div>

			<div>
				<div class="total_counts">
					<span *ngIf="totalCount > 2">Total: <b>{{totalCount}}</b></span>
				</div>
			</div>
		</div>

		<div class="d-flex justify-content-center flex-wrap mt-2">
			<div *ngIf="totalPages > 1">
				<ul class="pagination justify-content-center">
					<li class="page-item"
							[ngClass]="{'disabled': page<=1}">
					<a class="page-link" routerLink="." (click)="onPreviousPage()"
						aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
						<span class="sr-only">Previous</span>
					</a>
					</li>

					<li *ngIf="leftMore" class="page-item"><a class="page-link">...</a></li>

					<li *ngFor="let p of pages;  let i = index" class="page-item"
							[ngClass]="{'active': p==page}">
						<a class="page-link" routerLink="." (click)="onGotoPage(p)">{{p}}</a>
					</li>

					<li *ngIf="rightMore" class="page-item"><a class="page-link">...</a></li>
					<li class="page-item"
							[ngClass]="{'disabled': page>=totalPages}">
					<a class="page-link" routerLink="." (click)="onNextPage()"
						aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
						<span class="sr-only">Next</span>
					</a>
					</li>
				</ul>
			</div>
			<div class="ml-3" *ngIf="totalPages > 1">
				<small>Page</small>&nbsp;<input type="number" class="page-control form-control" [value]="page" (input)="onGotoPage($event.target.value)" />&nbsp;/&nbsp;{{totalPages}}
			</div>
		</div>

	</div>
<!--  model body ends -->

      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div> 

