
<div class="detail" *ngIf="detail">
	<div *ngIf="!options['disableActionButtions']"><div *ngIf="!disableActionButtions" class="action-buttons">
    <!--<a href="javascript:void(0)" (click)="goBack()"><i class="fas fa-angle-double-left" title="Back"></i></a>-->
    <a routerLink="../../list"><i class="fas fa-list" title="List"></i><!--  span>&nbsp;&nbsp;{{ItemCamelName}} List</span--></a>
    <a [routerLink]="['../../edit', detail['_id'] ]" [skipLocationChange]="false" class="btn btn-outline-primary">Edit</a>
    <a [routerLink]="['../../new']" [queryParams]="{cid: detail['_id']}" [skipLocationChange]="false" class="btn btn-outline-primary">New</a>
    <a routerLink="." class="btn btn-outline-primary" (click)="onDelete(detail['_id'], null)">Delete</a>
    <a routerLink="." class="btn btn-outline-primary" (click)="onArchive(detail['_id'], null, detail['archived'])">
        <ng-template [ngIf]="!detail['archived']">Archive</ng-template>
        <ng-template [ngIf]="detail['archived']">Unarchive</ng-template>
    </a>
</div>
</div>
	<div class="card text-left transparent-border ">
		<div class="grid-fields">

      <div class="card-header grid-head">
        <div class="ml-1">
          <h5>
            <div class="mr-1 d-inline-block">
              
                    {{detail['templateName']}}

            </div>
          </h5>
        </div>
      </div>
      <div class="card-body">
          <div>
            <div class="d-inline-flex flex-wrap mr-5" style="min-width: 200px;">
                <div><label>From Email:</label></div>
                <div class="ml-3">
                    {{detail['fromEmail']}}
</div>
            </div>
          </div>
          <div>
            <div class="d-inline-flex flex-wrap mr-5" style="min-width: 200px;">
                <div><label>Subject:</label></div>
                <div class="ml-3">
                    {{detail['subject']}}
</div>
            </div>
          </div>
          <div>
            <div class="d-inline-flex flex-wrap mr-5" style="min-width: 200px;">
                <div><label>Content:</label></div>
                <div class="ml-3">
                    <div libMddsRichtextShow="emailtemplateDetailContent" [content]="detail['content']"></div>
</div>
            </div>
          </div>
          <div>
            <div class="d-inline-flex flex-wrap mr-5" style="min-width: 200px;">
                <div><label>Tag:</label></div>
                <div class="ml-3">
                    {{detail['tag']}}
</div>
            </div>
          </div>
      </div>

		</div>
	</div>
	<div *ngIf="!options['disablePipeline']">
</div>
	<div *ngIf="!options['disableRefLink']">
</div>
</div>
