<div class="container">
		<div class="card component-main-card">
		  <div class="card-header">
			  <nav class="nav nav-pills">

			    <a class="nav-item nav-link" routerLink="./musergroup" 
			    	routerLinkActive="active">User Group</a>

			    <a class="nav-item nav-link" routerLink="./mpubmodule" 
			    	routerLinkActive="active">Public Module</a>

			    <a class="nav-item nav-link" routerLink="./mpubaccess" 
			    	routerLinkActive="active">Access Control</a>

			  </nav>
		  </div>
		  <div class="card-body">
			<router-outlet></router-outlet>
		  </div>
		</div>
</div>
