<div>
	<div class="add-area d-flex">

		
		<div class="d-flex ml-auto">

		</div>
	</div>

		
	
	<div *ngIf="list.length === 0" class="no-records">
		<span *ngIf="loaded">No records found.</span>
		<span *ngIf="!loaded">Loading...</span>
	</div>
	<div class="container search">
		<div class="row justify-content-end mt-3">
		
			
		</div>
		<div class="d-flex justify-content-between">
			<div>
			</div>

			<div>
				<div class="total_counts">
					<span *ngIf="list.length > 2">Total: <b>{{totalCount}}</b></span>
				</div>
			</div>
		</div>

		<div class="d-flex justify-content-center mt-2">
				<div *ngIf="totalPages > 1">
					<ul class="pagination justify-content-center">
						<li class="page-item"
								[ngClass]="{'disabled': page<=1}">
						<a class="page-link" routerLink="." (click)="onPreviousPage()"
							aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
							<span class="sr-only">Previous</span>
						</a>
						</li>

						<li *ngIf="leftMore" class="page-item"><a class="page-link">...</a></li>

						<li *ngFor="let p of pages;  let i = index" class="page-item"
								[ngClass]="{'active': p==page}">
							<a class="page-link" routerLink="." (click)="onGotoPage(p)">{{p}}</a>
						</li>

						<li *ngIf="rightMore" class="page-item"><a class="page-link">...</a></li>
						<li class="page-item"
								[ngClass]="{'disabled': page>=totalPages}">
						<a class="page-link" routerLink="." (click)="onNextPage()"
							aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
							<span class="sr-only">Next</span>
						</a>
						</li>
					</ul>
				</div>
		</div>

	</div>
	<table *ngIf="list.length > 0" class="table">
	    <thead>
	    	<tr>
		        <th scope="col">#</th>

		        <th *ngIf="referenceFieldsMap['group'] != parentItem"  scope="col">
		        	Group
		        </th>
		        <th *ngIf="referenceFieldsMap['module'] != parentItem"  scope="col">
		        	Module
		        </th>
		        <th scope="col">
		        	Module Permission
		        </th>      
                <th scope="col" style="width:2rem;"></th>

		        <th scope="col" style="width: 5rem;"></th>
	        </tr>
	    </thead>
	    <tbody>
	      <ng-template ngFor let-detail [ngForOf]="list" let-i="index">
	        <tr [ngClass]="{'clicked-row': clickedId==detail['_id']}"> <!-- *ngFor="let detail of list;  let i = index" -->
	            <td scope="row">{{(page-1)*perPage+i+1}}</td>

	            <td *ngIf="referenceFieldsMap['group'] != parentItem"  >
	            	
               	  <a routerLink="."  (click)="onDisplayRefClicked('group', detail['group'], $event)">
	            	{{detail['group']?detail['group']['value']:""}}
	              </a>

                </td>
	            <td *ngIf="referenceFieldsMap['module'] != parentItem"  >
	            	
               	  <a routerLink="."  (click)="onDisplayRefClicked('module', detail['module'], $event)">
	            	{{detail['module']?detail['module']['value']:""}}
	              </a>

                </td>
	            <td >
	            	
                    {{detail['modulePermission']}}

                </td>
	            <td>

                    	
			        <span class="pointer" (click)="toggleCheckedItem(i)">
			            <i *ngIf="!checkedItem[i]" class="fas fa-caret-down" title="More"></i>
			            <i *ngIf="checkedItem[i]" class="fas fa-caret-up" title="Less"></i>
			        </span>
                </td>

	            <td>
					<span class="read-more font-size-75 mt-3" (click)="onDetailLinkClicked(detail['_id'])">Detail <i class="fas fa-arrow-right" ></i></span>
                </td>
	        </tr>

	        <tr *ngIf="checkedItem[i]" >
	        	<td colspan="3"><app-mpubaccess-detail-sub [inputData]="detail['_id']"></app-mpubaccess-detail-sub></td>
	        </tr>
	      </ng-template>
	    </tbody>
	</table>
	
	<div class="container">
		<div class="row justify-content-end mt-3">
		
			
		</div>
		<div class="d-flex justify-content-between">
			<div>
			</div>

			<div>
				<div class="total_counts">
					<span *ngIf="list.length > 2">Total: <b>{{totalCount}}</b></span>
				</div>
			</div>
		</div>

		<div class="d-flex justify-content-center mt-2">
				<div *ngIf="totalPages > 1">
					<ul class="pagination justify-content-center">
						<li class="page-item"
								[ngClass]="{'disabled': page<=1}">
						<a class="page-link" routerLink="." (click)="onPreviousPage()"
							aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
							<span class="sr-only">Previous</span>
						</a>
						</li>

						<li *ngIf="leftMore" class="page-item"><a class="page-link">...</a></li>

						<li *ngFor="let p of pages;  let i = index" class="page-item"
								[ngClass]="{'active': p==page}">
							<a class="page-link" routerLink="." (click)="onGotoPage(p)">{{p}}</a>
						</li>

						<li *ngIf="rightMore" class="page-item"><a class="page-link">...</a></li>
						<li class="page-item"
								[ngClass]="{'disabled': page>=totalPages}">
						<a class="page-link" routerLink="." (click)="onNextPage()"
							aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
							<span class="sr-only">Next</span>
						</a>
						</li>
					</ul>
				</div>
		</div>

	</div>
	
</div>
