
<div class="detail" *ngIf="detail">
	<div *ngIf="!options['disableActionButtions']"><div *ngIf="!disableActionButtions && !options['disableActionButtions']" class="action-buttons">
    <a *ngIf="!options['disableActionList']" routerLink="../../list" class="action-go-list"><i class="fas fa-list" title="List"></i><!--  span>&nbsp;&nbsp;{{ItemCamelName}} List</span--></a>
    <a *ngIf="!options['disableActionEdit']" [routerLink]="['../../edit', detail['_id'] ]" [skipLocationChange]="false" class="btn btn-outline-primary">Edit</a>
    <a *ngIf="!options['disableActionNew']" [routerLink]="['../../new']" [queryParams]="{cid: detail['_id']}" [skipLocationChange]="false" class="btn btn-outline-primary">New</a>
    <a *ngIf="!options['disableActionDelete']" routerLink="." class="btn btn-outline-primary" (click)="onDelete(detail['_id'], null)">Delete</a>
    <a *ngIf="!options['disableActionArchive']" routerLink="." class="btn btn-outline-primary" (click)="onArchive(detail['_id'], null, detail['archived'])">
        <ng-template [ngIf]="!detail['archived']">Archive</ng-template>
        <ng-template [ngIf]="detail['archived']">Unarchive</ng-template>
    </a>
</div>
</div>
	<div class="card text-left transparent-border ">
		<div class="grid-fields">

      <div class="card-header grid-head">
        <div class="ml-1">
          <h5>
            <div class="mr-1 d-inline-block">
              
                    {{detail['role']}}
            </div>
          </h5>
        </div>
      </div>
      <div class="card-body">
          <div>
            <div class="d-inline-flex flex-wrap mr-5" style="min-width: 160px;">
                <div><label>Description:</label></div>
                <div class="ml-3">
                    {{detail['description']}}</div>
            </div>
          </div>
      </div>

		</div>
	</div>
	<div *ngIf="!options['disablePipeline']">
</div>
	<div *ngIf="!options['disableRefLink']">
    <br/>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a [routerLink]="['./mpermission/list']"
                    class="nav-link" routerLinkActive="active">Permission</a>
        </li><li class="nav-item">
            <a [routerLink]="['./maccountrole/list']"
                    class="nav-link" routerLinkActive="active">Account Role</a>
        </li>
    </ul>
    <router-outlet></router-outlet>
</div>
</div>
