

		<div *ngIf="detail && showFields.includes('module')">
                    {{detail['module']}}
		</div>
		<div *ngIf="detail && showFields.includes('resources')">
                    <div *ngIf="detail['resources'] && detail['resources']['selection']">
                        <ng-template ngFor let-element [ngForOf]="detail['resources']['selection']" let-idx="index">
                            <div class="badge badge-pill badge-secondary">
                                {{element}}
                            </div>
                        </ng-template>
                    </div>
		</div>
