<div class="container">
		<div class="card component-main-card">
		  <div class="card-header">
			  <nav class="nav nav-pills">

			    <a class="nav-item nav-link" routerLink="./member" 
			    	routerLinkActive="active">Member</a>

			    <a class="nav-item nav-link" routerLink="./additionalinfo" 
			    	routerLinkActive="active">AdditionalInfo</a>

			    <a class="nav-item nav-link" routerLink="./board" 
			    	routerLinkActive="active">Board Members</a>

			    <a class="nav-item nav-link" routerLink="./lead" 
			    	routerLinkActive="active">Team Leads</a>

			  </nav>
		  </div>
		  <div class="card-body">
			<router-outlet></router-outlet>
		  </div>
		</div>
</div>
