.detail {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.action-buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-flow: wrap;
  align-items: center;
  margin: 0.5rem 0;
}

.action-buttons .btn {
  margin: 0.25rem;
}

.action-go-list {
  margin-left: 2rem;
  margin-right: auto;
}

.card {
  word-break: break-word;
}

.card-title {
  text-align: center;
}

.card label,
.field-label {
  font-weight: bold;
}

/*
.card span {
	margin-left: 1rem;
}
*/
.referred-by-links {
  text-align: left;
}

.referred-by-links a {
  margin-left: 1rem;
}

.select-model {
  display: block;
  position: fixed;
  z-index: 1000;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.select-model.show {
  display: block;
}

.select-model-content {
  position: relative;
  background-color: #fefefe;
  /*margin: auto;*/
  padding: 0;
  border: 1px solid #888;
  width: 90%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pointer {
  cursor: pointer;
}

.badge-click {
  cursor: pointer;
}

div.badge-click:hover {
  background-color: #495057 !important;
  text-decoration: underline;
}

.grid-fields {
  height: 100%;
}

.grid-head {
  display: flex;
  align-items: center;
  /*width: 100%;
  background-color: rgba(0, 0, 0, 0.04);*/
}

.grid-head-picture {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 6rem;
  height: 6rem;
  margin-right: 0.5rem;
  overflow: hidden;
}

@media screen and (min-width: 500px) {
  .grid-head-picture {
    flex-basis: 8rem;
    height: 6rem;
  }
}

.picture-small-block {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  position: relative;
  margin: 0.25rem;
}

.transparent-border {
  border-color: rgba(0, 0, 0, 0);
}

.info-term-text {
  line-height: 2rem;
  width: 70%;
  margin-left: 1rem;
}

.term-check {
  zoom: 2;
}

.slide-image {
  width: 100%;
}