.container {
  background-color: white;
}

.section-divider {
  height: 100px;
  margin: 20px 0;
  position: relative;
}
.section-divider-background {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 100vw;
  background: linear-gradient(112.93deg, #08274c 4.31%, #08274c73 133.15%);
}
.section-divider-title {
  height: 100%;
  position: relative;
  color: white;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-content {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-content-title {
  font-size: 2.5rem;
  font-weight: 500;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-content-row {
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.section-content-lead {
  font-size: 1.25rem;
  font-weight: 300;
}
.member-tasks {
	width: 18rem;
	height: 100%;
	margin: 10px;
}