<div class="container">
    <section>
        <div class="section-content">
            <div class="jumbotron">
                <h1>Member Instructions</h1>
                <p class="lead">Welcome joining HiCoding Club. Please read the following member instructions.</p>
                <hr class="my-4">
                <ul >
                    <li  aria-disabled="true">Communication:</li>
                    <li >Activities</li>
                    <li >Grow your coding skills</li>
                </ul>

                <!--a class="btn btn-primary btn-lg" href="#" role="button">Get Started</a-->
            </div>
        </div>
    </section>
    <section>
        <div class="section-divider">
            <div class="section-divider-background"></div>
            <div class="section-divider-title">
                <div>New Members</div>
            </div>
        </div>
        <div class="section-content">
            <div class="section-content-title"></div>
            <p class="section-content-lead">
                HiCoding Club's Github repositories are where HCC new members can own tasks and learn basic web development knowledge. You can start with the following different knowledge domains.
            </p>
            <div class="section-content-row">
                <div class="card member-tasks">
                    <img src="/assets/github.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">UI Designer</h5>
                      <p class="card-text">Design a website's modern UIs online.</p>
                      <a href="https://github.com/hicodingclub/new-ui-designer-training" class="btn btn-primary">Get Started</a>
                    </div>
                </div>
                <div class="card member-tasks">
                    <img src="/assets/github.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Web Developers</h5>
                      <p class="card-text">Implement the UI front end with HTML/CSS/JavaScript.</p>
                      <a href="https://github.com/hicodingclub/new-web-developer-training" class="btn btn-primary">Get Started</a>
                    </div>
                </div>
                <div class="card member-tasks">
                    <img src="/assets/github.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Quality Assurance</h5>
                      <p class="card-text">Test the web applications and assure delivery with quality.</p>
                      <a href="https://github.com/hicodingclub/new-qa-member-training" class="btn btn-primary">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>