<div *ngIf="detail && showFields.includes('grade')">
  {{detail['grade']}}
</div>
<div *ngIf="detail && showFields.includes('team')">
  {{detail['team']}}
</div>
<div *ngIf="detail && showFields.includes('guardianEmail')">
  {{detail['guardianEmail']}}
</div>
<div *ngIf="detail && showFields.includes('programmingSkill')">
  {{detail['programmingSkill']}}
</div>
<div *ngIf="detail && showFields.includes('designingSkill')">
  {{detail['designingSkill']}}
</div>
<div *ngIf="detail && showFields.includes('githubExp')">
  {{detail['githubExp']}}
</div>