<div class="mt-4 mb-4" *ngIf="!options['disableTitle']">
  <h3>Additional Member Information</h3>
</div>
<div class="detail" *ngIf="detail">
  <div *ngIf="!options['disableActionButtions']">
    <div *ngIf="!disableActionButtions && !options['disableActionButtions']" class="action-buttons">
      <a *ngIf="!options['disableActionList']" routerLink="../../list" class="action-go-list"><i class="fas fa-list" title="List"></i><!--  span>&nbsp;&nbsp;{{ItemCamelName}} List</span--></a>
      <a *ngIf="!options['disableActionEdit']" [routerLink]="['../../edit', detail['_id'] ]" [skipLocationChange]="false" class="btn btn-outline-primary">Edit</a>
      <a *ngIf="!options['disableActionNew']" [routerLink]="['../../new']" [queryParams]="{cid: detail['_id']}" [skipLocationChange]="false" class="btn btn-outline-primary">New</a>
    </div>
  </div>
  <div class="card text-left transparent-border ">
    <div class="grid-fields">
      <div class="card-body">
        <div>
          <div class="d-inline-flex flex-wrap mr-5" style="min-width: 160px;">
            <div><label>Grade:</label></div>
            <div class="ml-3">
              {{detail['grade']}}</div>
          </div>
        </div>
        <div>
          <div class="d-inline-flex flex-wrap mr-5" style="min-width: 160px;">
            <div><label>Desired Team:</label></div>
            <div class="ml-3">
              {{detail['team']}}</div>
          </div>
        </div>
        <div>
          <div class="d-inline-flex flex-wrap mr-5" style="min-width: 160px;">
            <div><label>Guardian Email:</label></div>
            <div class="ml-3">
              {{detail['guardianEmail']}}</div>
          </div>
        </div>
        <div>
          <div class="d-inline-flex flex-wrap mr-5" style="min-width: 160px;">
            <div><label>Programming Skill:</label></div>
            <div class="ml-3">
              {{detail['programmingSkill']}}</div>
          </div>
        </div>
        <div>
          <div class="d-inline-flex flex-wrap mr-5" style="min-width: 160px;">
            <div><label>Designing Skill:</label></div>
            <div class="ml-3">
              {{detail['designingSkill']}}</div>
          </div>
        </div>
        <div>
          <div class="d-inline-flex flex-wrap mr-5" style="min-width: 160px;">
            <div><label>Github Experience:</label></div>
            <div class="ml-3">
              {{detail['githubExp']}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!options['disablePipeline']">
  </div>
  <div *ngIf="!options['disableRefLink']">
  </div>
</div>