
<div *ngIf="detail">
	<div class="card text-left">
	  <div class="card-body">
		<div class="card-text">

      <div class="card-body">
          <div>
            <div class="d-inline-flex flex-wrap mr-5" style="min-width: 200px;">
                <div><label>Guardian Email:</label></div>
                <div class="ml-3">
                    {{detail['guardianEmail']}}
</div>
            </div>
          </div>
          <div>
            <div class="d-inline-flex flex-wrap mr-5" style="min-width: 200px;">
                <div><label>Programming Skill:</label></div>
                <div class="ml-3">
                    {{detail['programmingSkill']}}
</div>
            </div>
          </div>
          <div>
            <div class="d-inline-flex flex-wrap mr-5" style="min-width: 200px;">
                <div><label>Designing Skill:</label></div>
                <div class="ml-3">
                    {{detail['designingSkill']}}
</div>
            </div>
          </div>
          <div>
            <div class="d-inline-flex flex-wrap mr-5" style="min-width: 200px;">
                <div><label>Github Exp:</label></div>
                <div class="ml-3">
                    {{detail['githubExp']}}
</div>
            </div>
          </div>
      </div>

		</div>
	  </div>
	</div>
</div>
