<div class="header fixed-top">
	<nav class="navbar navbar-light navbar-expand-lg">
		<a class="navbar-brand" routerLink="/home">
			<img src="assets/logo.png" align="left" class="logo  mt-1">
			<div class="d-none d-md-block logo-text mr-5">
				<div class="h4">(Company Name)</div>
				<div class="ml-3">
					<small><i>Administration Portal</i></small>
				</div>
			</div>
		</a>
		
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarItems" aria-controls="navbarItems" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse ml-auto mr-auto" id="navbarItems">
			<ul class="navbar-nav" data-toggle="collapse" data-target=".navbar-collapse.show">
			<li class="nav-item">
				<a class="nav-link" routerLinkActive="active" routerLink="/emailing">Emails</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLinkActive="active" routerLink="/users">Users</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLinkActive="active" routerLink="/files">Pictures</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLinkActive="active" routerLink="/access">Public Access</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLinkActive="active" routerLink="/roles">Administrators</a>
			</li>
			</ul>
		</div>
	</nav>

	<div class="auth-icon">
		<lib-auth-icon></lib-auth-icon>
	</div>
</div>

<div class="content">
	<div>
		<router-outlet></router-outlet>
	</div>
	<div class="container content-min-height">
	</div>
</div>

<nav class="footer footer-font navbar navbar-light">
  <div class="mx-auto mb-2">
	  <div>© 2019 (Company Name), Inc. All rights reserved.</div>
	  <div><i class="fa fa-map-marker" aria-hidden="true"></i> (Address) </div>
  </div>
</nav>
