<div class="edit" *ngIf="detail">
	<div *ngIf="!embeddedView" class="action-buttons">
		<!-- <a href="javascript:void(0)" (click)="goBack()" ><i class="fas fa-angle-double-left" title="Back"></i></a> -->
	</div>

	<div class="card" style="text-align: left;">
		<div class="card-body">
			<h4 class="card-title" *ngIf="!embeddedView && !options['title']">{{action}} User Group</h4>
			<h4 class="card-title" *ngIf="options['title']" [ngStyle]="style['card-title']">
				{{options['title']}}
			</h4>
			<p	*ngIf="options['subtitle']" [ngStyle]="style['card-subtitle']">
				{{options['subtitle']}}
			</p>
			<form (ngSubmit)="onSubmit()" #editForm="ngForm">

				<div *ngIf="action == 'Edit'">
<div *ngIf="!hiddenFields.includes('group')">

        <fieldset class="form-group">
          <label for="EditGroup">Group</label>
          
          

          <div class="input-group">
            <input type="text" class="form-control rounded" id="EditGroup" 
                    required
                    
                    maxlength="50"
                
                    [(ngModel)]="detail['group']" name="EditGroup"
                    #EditGroup="ngModel">
            <div *ngIf="detail['group']"
                  class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('group')">
                  <i class="fas fa-times-circle" title="Clear"></i>
            </div>
          </div>

          <div [hidden]="EditGroup.valid || EditGroup.pristine || EditGroup.errors.minlength"
           class="alert alert-danger">

            <div *ngIf="EditGroup.errors && EditGroup.errors.required">
              Group is required.
              </div>
 

            <div *ngIf="EditGroup.errors && EditGroup.errors.maxlength">
                Group must be at most 50 characters long.
              </div>
          </div>
        
        </fieldset>

    
</div>
<div *ngIf="!hiddenFields.includes('description')">

        <fieldset class="form-group">
          <label for="EditDescription">Description</label>
          
          

          <div class="input-group">
            <input type="text" class="form-control rounded" id="EditDescription" 
                    
                    
                    maxlength="200"
                
                    [(ngModel)]="detail['description']" name="EditDescription"
                    #EditDescription="ngModel">
            <div *ngIf="detail['description']"
                  class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('description')">
                  <i class="fas fa-times-circle" title="Clear"></i>
            </div>
          </div>

          <div [hidden]="EditDescription.valid || EditDescription.pristine || EditDescription.errors.minlength"
           class="alert alert-danger">

 

            <div *ngIf="EditDescription.errors && EditDescription.errors.maxlength">
                Description must be at most 200 characters long.
              </div>
          </div>
        
        </fieldset>

    
</div>

				</div>
				<div *ngIf="action == 'Create' || action == 'Add' ">
<div *ngIf="!hiddenFields.includes('group')">

        <fieldset class="form-group">
          <label for="EditGroup">Group</label>
          
          

          <div class="input-group">
            <input type="text" class="form-control rounded" id="EditGroup" 
                    required
                    
                    maxlength="50"
                
                    [(ngModel)]="detail['group']" name="EditGroup"
                    #EditGroup="ngModel">
            <div *ngIf="detail['group']"
                  class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('group')">
                  <i class="fas fa-times-circle" title="Clear"></i>
            </div>
          </div>

          <div [hidden]="EditGroup.valid || EditGroup.pristine || EditGroup.errors.minlength"
           class="alert alert-danger">

            <div *ngIf="EditGroup.errors && EditGroup.errors.required">
              Group is required.
              </div>
 

            <div *ngIf="EditGroup.errors && EditGroup.errors.maxlength">
                Group must be at most 50 characters long.
              </div>
          </div>
        
        </fieldset>

    
</div>
<div *ngIf="!hiddenFields.includes('description')">

        <fieldset class="form-group">
          <label for="EditDescription">Description</label>
          
          

          <div class="input-group">
            <input type="text" class="form-control rounded" id="EditDescription" 
                    
                    
                    maxlength="200"
                
                    [(ngModel)]="detail['description']" name="EditDescription"
                    #EditDescription="ngModel">
            <div *ngIf="detail['description']"
                  class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('description')">
                  <i class="fas fa-times-circle" title="Clear"></i>
            </div>
          </div>

          <div [hidden]="EditDescription.valid || EditDescription.pristine || EditDescription.errors.minlength"
           class="alert alert-danger">

 

            <div *ngIf="EditDescription.errors && EditDescription.errors.maxlength">
                Description must be at most 200 characters long.
              </div>
          </div>
        
        </fieldset>

    
</div>

				</div>

				<div class="action-buttons-center">
					<button type="submit" class="btn btn-success" [disabled]="!editForm.form.valid">Submit</button>
					<button class="btn btn-outline-success" type="button" (click)="editCancel()">Cancel</button>
				</div>
			</form>
		</div>
	</div>
</div>
