

		<div *ngIf="detail && showFields.includes('account')">
               	  <a routerLink="."  (click)="onDisplayRefClicked('account', detail['account'], $event)">
	            	{{detail['account']?detail['account']['value']:""}}
	              </a>

		</div>
		<div *ngIf="detail && showFields.includes('role')">
                    <div *ngIf="detail['role'] && detail['role']['selection']">
                        <ng-template ngFor let-element [ngForOf]="detail['role']['selection']" let-idx="index">
                            <div class="badge-click badge badge-pill badge-secondary" 
                                (click)="onDisplayRefClicked('role', detail['role']['selection'][idx], $event)">
                                {{element.value}}
                            </div>
                        </ng-template>
                    </div>

		</div>
