<div class="mt-4 mb-4 d-flex" *ngIf="!options['disableTitleRow']">
</div>
<ul *ngIf="listCategory1.listCategoryField" class="nav nav-pills category-nav">
  <li *ngFor="let ele of categoryDisplays; let idx = index;" class="nav-item">
    <a *ngIf=" listCategory1.showEmptyCategory || (!listCategory1.showEmptyCategory && categoriesCounts[idx] > 0)" class="nav-link" [ngClass]="{'active': idx === selectedCategory }" [routerLink]="['.']" queryParamsHandling="preserve" (click)="categorySelected(idx)">
      {{ele}} <span *ngIf="listCategory1.showCategoryCounts">({{categoriesCounts[idx]}})</span>
    </a>
  </li>
</ul>
<div>
  <div *ngIf="!options['disableListHead']" class="container search">
    <div class="row" *ngIf="!options['disableListSearch']">
      <div class="col">
        <div class="input-group">
          <input type="search" class="form-control border border-secondary" id="mpermissionTextSearch" #mpermissionTextSearch [(ngModel)]="searchText" (search)="$event.target.blur();searchList();" placeholder="Search for module permission">
          <div *ngIf="searchText" class="input-group-append icon-search-clear">
            <span>
              <i class="fas fa-times-circle" (click)="onSearchTextClear()" title="Clear"></i>
            </span>
          </div>
          <div class="input-group-append">
            <button type="button" class="btn btn-outline-secondary" (click)="searchList()"><i class="fas fa-search"></i></button>
          </div>
        </div>
        <div class="text-center">
          <span class="pointer" (click)="toggleMoreSearch()">
            <span class="refine-search-text">Refine Search &nbsp;</span>
            <span>
              <i *ngIf="!moreSearchOpened" class="fas fa-plus-circle" title="More"></i>
              <i *ngIf="moreSearchOpened" class="fas fa-minus-circle" title="Less"></i>
            </span>
          </span>
        </div>
        <div class="shadow" *ngIf="moreSearchOpened">
          <div class="card">
            <div class="card-body">
              <div class="d-flex flex-wrap align-items-center">
                <div class="container two-column-search small">
                  <div class="row col-gutter align-items-center">
                    <div class="col-12 col-sm-3">
                      <label for="mpermissionEditRole"> Role </label>
                    </div>
                    <div class="col-11 col-sm-8">
                      <div class="input-group input-group-sm">
                        <input class="form-control form-control-sm rounded" id="mpermissionEditRole" [ngClass]="{'pointer ref-badge': detail['role']['_id']}" (focus)="onRefSelect('role')" [ngModel]="detail['role']['valueMedium']" name="mpermissionEditRole" #mpermissionEditRole="ngModel">
                      </div>
                      <!-- (focus)="detail['role']['_id']?onRefShow('role', 'select', detail['role']['_id']):onRefSelect('role')" -->
                    </div>
                    <div class="col-1">
                      <div class="pointer" (click)="clearValueFromDetail('role')" *ngIf="checkValueDefinedFromDetail('role')"><i class="fas fa-times-circle" title="Clear"></i></div>
                    </div>
                  </div>
                </div>
                <div class="container two-column-search small">
                  <div class="row col-gutter align-items-center">
                    <div class="col-12 col-sm-3">
                      <label for="mpermissionEditModule"> Module </label>
                    </div>
                    <div class="col-11 col-sm-8">
                      <div class="input-group input-group-sm">
                        <input class="form-control form-control-sm rounded" id="mpermissionEditModule" [ngClass]="{'pointer ref-badge': detail['module']['_id']}" (focus)="onRefSelect('module')" [ngModel]="detail['module']['valueMedium']" name="mpermissionEditModule" #mpermissionEditModule="ngModel">
                      </div>
                      <!-- (focus)="detail['module']['_id']?onRefShow('module', 'select', detail['module']['_id']):onRefSelect('module')" -->
                    </div>
                    <div class="col-1">
                      <div class="pointer" (click)="clearValueFromDetail('module')" *ngIf="checkValueDefinedFromDetail('module')"><i class="fas fa-times-circle" title="Clear"></i></div>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="container one-column-search mt-3 small">
                <div class="row col-gutter">
                  <div class="col-4 col-sm-3"><label for="Archived">Archived</label></div>
                  <div class="col-8 col-sm-8">
                    <label class="mr-1">No</label>
                    <label class="switch">
                      <input type="checkbox" [(ngModel)]="detail['archived']" #EditArchived="ngModel">
                      <span class="slider round"></span>
                    </label>
                    <label class="ml-1">Yes</label>
                  </div>
                </div>
              </div>
              <hr>
              <div class="action-buttons">
                <button type="button" class="btn btn-outline-success" (click)="onSearchClear()">Reset</button>
                <button type="button" class="btn btn-success" (click)="searchList()">Search</button>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="!moreSearchOpened" style="text-align: left;">
          <span class="badge badge-pill badge-info" *ngFor="let value of searchMoreDetail">
            <a (click)="toggleMoreSearch()" class="pointer"> {{value[0]}}: {{value[1]}}</a>
            <i class="fas fa-times-circle icon-clear-badge" (click)="clearValueFromDetailAndSearchList(value[2])" title="Clear"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="!options['disableActionButtions']">
      <div class="col">
        <div class="action-buttons">
          <a [routerLink]="['../new' ]" [skipLocationChange]="false" class="btn btn-outline-primary">Create</a>
          <a routerLink="." class="btn btn-outline-primary" (click)="onDeleteSelected()" [ngClass]="{'disabled': !isItemSelected()}">Delete</a>
          <a routerLink="." class="btn btn-outline-primary" (click)="onArchiveSelected()" [ngClass]="{'disabled': !isItemSelected()}">
            <span *ngIf="!archivedSearch">Archive</span>
            <span *ngIf="archivedSearch">Unarchive</span>
          </a>
        </div>
      </div>
    </div>
    <hr />
    <div *ngIf="!options['disablePagination']">
      <div class="row justify-content-end mt-3">
        <div *ngIf="list.length > 2" class="sort-selection mr-5">
          <div class="dropdown" style="width: 100%;">
            <button class="sort-dropdown btn btn-light btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Sort: <span *ngIf="listSortField && !viewHiddenFields.includes(listSortField)">{{listSortFieldDisplay}}
                <i *ngIf="listSortOrder === 'asc'" class="fas fa-arrow-up"></i>
                <i *ngIf="listSortOrder === 'desc'" class="fas fa-arrow-down"></i>
              </span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item pointer" (click)="setListSortAndRefresh('role', 'Role', 'asc')">Role<i class="fas fa-arrow-up"></i></a>
              <a class="dropdown-item pointer" (click)="setListSortAndRefresh('role', 'Role', 'desc')">Role<i class="fas fa-arrow-down"></i></a>
              <a class="dropdown-item pointer" (click)="setListSortAndRefresh('module', 'Module', 'asc')">Module<i class="fas fa-arrow-up"></i></a>
              <a class="dropdown-item pointer" (click)="setListSortAndRefresh('module', 'Module', 'desc')">Module<i class="fas fa-arrow-down"></i></a>
              <a class="dropdown-item pointer" (click)="setListSortAndRefresh('modulePermission', 'Module Permission', 'asc')">Module Permission<i class="fas fa-arrow-up"></i></a>
              <a class="dropdown-item pointer" (click)="setListSortAndRefresh('modulePermission', 'Module Permission', 'desc')">Module Permission<i class="fas fa-arrow-down"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <div>
          <div *ngIf="list.length > 0">
            <input type="radio" name="view-filter" id="table-view" class="view-radio" (click)="setListViewFilter('table')" [checked]="isShowListView('table')">
            <label for="table-view"><i class="fa fa-list-alt"></i></label>
            <input type="radio" name="view-filter" id="list-view" class="view-radio" (click)="setListViewFilter('list')" [checked]="isShowListView('list')">
            <label for="list-view"><i class="fa fa-th-list"></i></label>
            <input type="radio" name="view-filter" id="grid-view" class="view-radio" (click)="setListViewFilter('grid')" [checked]="isShowListView('grid')">
            <label for="grid-view"><i class="fa fa-th"></i></label>
          </div>
        </div>
        <div>
          <div class="total_counts">
            <span *ngIf="totalCount > 2">Total: <b>{{totalCount}}</b></span>
            <span *ngIf="list.length > 1"><input type="checkbox" class="ml-3 mr-1" [(ngModel)]="checkAll" (change)="onCheckAllChange()">All</span>
            <a class="ml-3" routerLink="." (click)="onRefresh()"><i class="fa fa-sync-alt"></i></a>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center flex-wrap mt-2">
        <div *ngIf="totalPages > 1">
          <ul class="pagination justify-content-center">
            <li class="page-item" [ngClass]="{'disabled': page<=1}">
              <a class="page-link" routerLink="." (click)="onPreviousPage()" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li *ngIf="leftMore" class="page-item"><a class="page-link">...</a></li>
            <li *ngFor="let p of pages;  let i = index" class="page-item" [ngClass]="{'active': p==page}">
              <a class="page-link" routerLink="." (click)="onGotoPage(p)">{{p}}</a>
            </li>
            <li *ngIf="rightMore" class="page-item"><a class="page-link">...</a></li>
            <li class="page-item" [ngClass]="{'disabled': page>=totalPages}">
              <a class="page-link" routerLink="." (click)="onNextPage()" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="ml-3" *ngIf="totalPages > 1">
          <small>Page</small>&nbsp;<input type="number" class="page-control form-control" [value]="page" (input)="onGotoPage($event.target.value)" />&nbsp;/&nbsp;{{totalPages}}
        </div>
      </div>
    </div>
  </div>
  <div class="no-records" *ngIf="list.length === 0">
    <span *ngIf="loaded">No records found.</span>
    <span *ngIf="!loaded">Loading...</span>
  </div>
  <div *ngIf="list.length > 0">
    <table *ngIf="isShowListView('table')" class="table table-bordered table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th class="pointer" scope="col" (click)="toggleListSort('role', 'Role')" *ngIf="referenceFieldsMap['role'] != parentItem"> Role <span *ngIf="listSortField === 'role'">
              <i *ngIf="listSortOrder === 'asc'" class="fas fa-arrow-up th-sort-arrow"></i>
              <i *ngIf="listSortOrder === 'desc'" class="fas fa-arrow-down th-sort-arrow"></i>
            </span>
          </th>
          <th class="pointer" scope="col" (click)="toggleListSort('module', 'Module')" *ngIf="referenceFieldsMap['module'] != parentItem"> Module <span *ngIf="listSortField === 'module'">
              <i *ngIf="listSortOrder === 'asc'" class="fas fa-arrow-up th-sort-arrow"></i>
              <i *ngIf="listSortOrder === 'desc'" class="fas fa-arrow-down th-sort-arrow"></i>
            </span>
          </th>
          <th class="pointer" scope="col" (click)="toggleListSort('modulePermission', 'Module Permission')"> Module Permission <span *ngIf="listSortField === 'modulePermission'">
              <i *ngIf="listSortOrder === 'asc'" class="fas fa-arrow-up th-sort-arrow"></i>
              <i *ngIf="listSortOrder === 'desc'" class="fas fa-arrow-down th-sort-arrow"></i>
            </span>
          </th>
          <th scope="col" style="width:9.8rem;"></th>
        </tr>
      </thead>
      <tbody>
        <ng-template ngFor let-detail [ngForOf]="list" let-i="index">
          <tr [ngClass]="{'clicked-row': clickedId==detail['_id'],
							'selected-row': clickItemAction === 'select' && checkedItem[i]}">
            <td scope="row" (click)="clickOneItem(i)" class="pointer read-more mt-3">
              {{(page-1)*perPage+i+1}}
            </td>
            <td (click)="clickOneItem(i)" [ngClass]="{'pointer': clickItemAction}" *ngIf="referenceFieldsMap['role'] != parentItem">
              <a routerLink="." (click)="onDisplayRefClicked('role', detail['role'], $event)">
                {{detail['role']?detail['role']['valueMedium']:""}}
              </a>
            </td>
            <td (click)="clickOneItem(i)" [ngClass]="{'pointer': clickItemAction}" *ngIf="referenceFieldsMap['module'] != parentItem">
              <a routerLink="." (click)="onDisplayRefClicked('module', detail['module'], $event)">
                {{detail['module']?detail['module']['valueMedium']:""}}
              </a>
            </td>
            <td (click)="clickOneItem(i)" [ngClass]="{'pointer': clickItemAction}">
              {{detail['modulePermission']}}
            </td>
            <td>
              <a [routerLink]="['../edit', detail['_id'] ]" [skipLocationChange]="false"><i class="fas fa-edit" title="Edit"></i></a>
              <a routerLink="." (click)="onDelete(detail['_id'], i)"><i class="fas fa-trash-alt" title="Delete"></i></a>
              <a routerLink="." (click)="onArchive(detail['_id'], i, archivedSearch)">
                <i *ngIf="!archivedSearch" class="fa fa-archive" title="Archive"></i>
                <i *ngIf="archivedSearch" class="fas fa-trash-restore" title="Unarchive"></i>
              </a>
              <input class="list-check-box" type="checkbox" [ngModel]="checkedItem[i]" (click)="selectOneItem(i)" />
            </td>
          </tr>
        </ng-template>
      </tbody>
    </table>
    <div class="listview" *ngIf="isShowListView('list')">
      <div class="list-block" *ngFor="let detail of list;  let i = index; let list_index = index;">
        <hr *ngIf="i==0" class="list-devider">
        <div class="list-card text-left" [ngClass]="{'clicked-row': clickedId==detail['_id'],
							'selected-row': clickItemAction === 'select' && checkedItem[i],
							'clickable-card': clickItemAction}">
          <div class="list-fields" [ngClass]="{pointer: clickItemAction}" (click)="clickOneItem(i)">
            <div class="list-body-fields">
              <h5>
                <div class="mr-1 d-inline-block">
                  <a routerLink="." (click)="onDisplayRefClicked('role', detail['role'], $event)">
                    {{detail['role']?detail['role']['valueMedium']:""}}
                  </a>
                </div>
              </h5>
              <div>
                <div *ngIf="referenceFieldsMap['module'] != parentItem">
                  <div *ngIf="fieldHasValue(detail['module'])" class="mr-3 d-inline-flex flex-wrap">
                    <div><label>Module:</label></div>
                    <div class="ml-3">
                      <a routerLink="." (click)="onDisplayRefClicked('module', detail['module'], $event)">
                        {{detail['module']?detail['module']['valueMedium']:""}}
                      </a>
                    </div>
                  </div>
                </div>
                <div *ngIf="fieldHasValue(detail['modulePermission'])" class="mr-3 d-inline-flex flex-wrap">
                  <div><label>Module Permission:</label></div>
                  <div class="ml-3">
                    {{detail['modulePermission']}}
                  </div>
                </div>
              </div>
              <div class="d-flex flex-row mt-1">
              </div>
            </div>
          </div>
          <div class="card-action-icons">
            <a [routerLink]="['../edit', detail['_id'] ]" [skipLocationChange]="false"><i class="fas fa-edit" title="Edit"></i></a>
            <a [routerLink]="['.']" (click)="onDelete(detail['_id'], i)"><i class="fas fa-trash-alt" title="Delete"></i></a>
            <a [routerLink]="['.']" (click)="onArchive(detail['_id'], i, archivedSearch)">
              <i *ngIf="!archivedSearch" class="fa fa-archive" title="Archive"></i>
              <i *ngIf="archivedSearch" class="fas fa-trash-restore" title="Unarchive"></i>
            </a>
            <input class="list-check-box" type="checkbox" [ngModel]="checkedItem[i]" (click)="selectOneItem(i)" />
          </div>
        </div>
        <hr class="list-devider">
      </div>
    </div>
    <div class="gridview" *ngIf="isShowListView('grid')">
      <div class="grid-block" *ngFor="let detail of list;  let i = index; let list_index = index;">
        <div class="card text-left h-100" [ngClass]="{'clicked-row': clickedId==detail['_id'],
							'selected-row': clickItemAction === 'select' && checkedItem[i],
							'clickable-card': clickItemAction}">
          <div class="grid-fields" [ngClass]="{pointer: clickItemAction}" (click)="clickOneItem(i)">
            <div class="card-header grid-head">
              <div>
                <h5>
                  <div class="mr-1 d-inline-block">
                    <a routerLink="." (click)="onDisplayRefClicked('role', detail['role'], $event)">
                      {{detail['role']?detail['role']['valueMedium']:""}}
                    </a>
                  </div>
                </h5>
              </div>
            </div>
            <div class="card-body">
              <div *ngIf="fieldHasValue(detail['module'])" class="d-flex flex-wrap">
                <div class=""><label>Module:</label></div>
                <div class="ml-3">
                  <a routerLink="." (click)="onDisplayRefClicked('module', detail['module'], $event)">
                    {{detail['module']?detail['module']['valueMedium']:""}}
                  </a></div>
              </div>
              <div *ngIf="fieldHasValue(detail['modulePermission'])" class="d-flex flex-wrap">
                <div class=""><label>Module Permission:</label></div>
                <div class="ml-3">
                  {{detail['modulePermission']}}</div>
              </div>
            </div>
          </div>
          <div class="card-action-icons">
            <a [routerLink]="['../edit', detail['_id'] ]" [skipLocationChange]="false"><i class="fas fa-edit" title="Edit"></i></a>
            <a routerLink="." (click)="onDelete(detail['_id'], i)"><i class="fas fa-trash-alt" title="Delete"></i></a>
            <a routerLink="." (click)="onArchive(detail['_id'], i, archivedSearch)">
              <i *ngIf="!archivedSearch" class="fa fa-archive" title="Archive"></i>
              <i *ngIf="archivedSearch" class="fas fa-trash-restore" title="Unarchive"></i>
            </a>
            <input class="list-check-box" type="checkbox" [ngModel]="checkedItem[i]" (click)="selectOneItem(i)" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div *ngIf="!options['disablePagination']">
      <div class="row justify-content-end mt-3">
      </div>
      <div class="d-flex justify-content-between">
        <div>
        </div>
        <div>
          <div class="total_counts">
            <span *ngIf="totalCount > 2">Total: <b>{{totalCount}}</b></span>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center flex-wrap mt-2">
        <div *ngIf="totalPages > 1">
          <ul class="pagination justify-content-center">
            <li class="page-item" [ngClass]="{'disabled': page<=1}">
              <a class="page-link" routerLink="." (click)="onPreviousPage()" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li *ngIf="leftMore" class="page-item"><a class="page-link">...</a></li>
            <li *ngFor="let p of pages;  let i = index" class="page-item" [ngClass]="{'active': p==page}">
              <a class="page-link" routerLink="." (click)="onGotoPage(p)">{{p}}</a>
            </li>
            <li *ngIf="rightMore" class="page-item"><a class="page-link">...</a></li>
            <li class="page-item" [ngClass]="{'disabled': page>=totalPages}">
              <a class="page-link" routerLink="." (click)="onNextPage()" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="ml-3" *ngIf="totalPages > 1">
          <small>Page</small>&nbsp;<input type="number" class="page-control form-control" [value]="page" (input)="onGotoPage($event.target.value)" />&nbsp;/&nbsp;{{totalPages}}
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template roles-ref-select></ng-template>