<div class="container">
  <div class="row mt-5">	
	<div class="col-md-4">
		<div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
		  <a routerLink="/emailing" class="card-link"></a>
		  <div class="card-header">Emails</div>
		  <div class="card-body" style="height: 6rem;">
		    <p class="card-text">Email templates, logs</p>
		  </div>
		</div>
    </div>
  </div>
  
  <div class="row mt-5">
	<div class="col-md-4">
		<div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
		  <a routerLink="/users" class="card-link"></a>
		  <div class="card-header">Users</div>
		  <div class="card-body" style="height: 6rem;">
		    <p class="card-text">User accounts and password.</p>
		  </div>
		</div>
    </div>	

  	<div class="col-md-4">
		<div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
		  <a routerLink="/files" class="card-link"></a>
		  <div class="card-header">Files</div>
		  <div class="card-body" style="height: 6rem;">
		    <p class="card-text">Uploaded pictures, files</p>
		  </div>
		</div>
	</div>
  </div>
  <div class="row mt-5">
  	<div class="col-md-4">
		<div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
		  <a routerLink="/access" class="card-link"></a>
		  <div class="card-header">Public Access</div>
		  <div class="card-body" style="height: 6rem;">
		    <p class="card-text">Public access control to system resources.</p>
		  </div>
		</div>
    </div>	
  	<div class="col-md-4">
		<div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
		  <a routerLink="/roles" class="card-link"></a>
		  <div class="card-header">Administrators</div>
		  <div class="card-body" style="height: 6rem;">
		    <p class="card-text">Administrator accounts, roles, and permissions.</p>
		  </div>
		</div>
    </div>	
  </div>
</div>
