/* table rows, cards, and icons in list view and card view
*/

table {
  margin-top: 0.5rem;
  table-layout: fixed;
  word-wrap: break-word;
}

.clicked-row {
  /*background-color: #dcdfe0;
  background-color: rgba(0,0,0,.075); */
}
.selected-row {
  background-color: #c9f5eb;
}


tr th:first-child{
  width:8%;
  white-space:nowrap;
}

.line-breaker {
  height: 0px;
  border-top: 1px solid #dee2e6;
  width: 100%;
  margin: 20px 0 20px 0;
}

.gridview {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;

  /*
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  */
}

.grid-block {
  width: 18rem;
  display: inline-block;
  margin: 1rem;
  align-self: stretch;

  word-break: break-word;
  overflow-wrap: break-word;
  /*border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;*/
}

.grid-fields {
  height: 100%;
}
.grid-head {
  display: inline-flex;
  align-items: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.04);
}
.grid-head-picture, .list-head-picture {
  width: 3rem;
  height: 3rem;
  background-color: #f1f1f1;
}

@media screen and (min-width: 500px) {
  .grid-head-picture, .list-head-picture {
    width: 6rem;
    height: 6rem;
    background-color: #f1f1f1;
  }
}

.listview {
  /*
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  */
}

.list-block {
  width: 100%;
  margin: 0.5rem;

  word-break: break-word;
  overflow-wrap: break-word;
  /*border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;*/
}

.list-card {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  padding: 0.5rem;
}

.list-fields {
  display: inline-flex;
  align-items: flex-start;

  min-width: 300px;
  max-width: 85%;
}

.list-body-fields {
}
.list-diverder-gradient {
  border: 0;
  height: 2px;
  background: #095484;
  background-image: linear-gradient(to right, #ccc, #095484, #ccc);
}
.list-diverder {
  width: 80%
}

.clickable-card:hover {
  background-color: rgba(0,0,0,.075);
}

.card label, .list-body-fields label {
  font-weight: bold;
	font-size: 1rem;
}

.card-action-icons {
  text-align: right;
  bottom: 0px;
  right: 0.5rem;

  width: 100px;
  margin-left: auto;
}

td input, .card-action-icons input {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

td a i, .card-action-icons a i {
	color:rgb(196, 191, 191);
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
/*change the icon color when card is hoverred*/
tr:hover td a i, .clickable-card:hover .card-action-icons a i {
	color:black;
}
tr:hover td i.fa-edit:hover, .clickable-card:hover .card-action-icons i.fa-edit:hover{
	color: blue;
}
tr:hover td i.fa-trash-alt:hover, .clickable-card:hover .card-action-icons i.fa-trash-alt:hover {
	color: red;
}

/* action buttons and paginations
*/

.action-buttons {
	width: 100%;
	float:right; 
	text-align: right;
}
.action-buttons .btn {
	display: inline-block;
	margin-left: 1rem;
}

.pagination li {
	min-width: 2.8rem;
}
.total_counts {
  padding-top: 0.8rem;
  text-align: right;
}


/* earch area
*/

::-ms-clear {
  display: none;
}

.icon-clear {
cursor: pointer;
margin-top: 0.5rem;
}

.icon-clear-inside {
    z-index: 3;
    vertical-align: middle;
    padding: 0.5rem 0.5rem 0rem 0.5rem;
    cursor: pointer;
    position: relative;
    margin-left: -2rem;   /* text 1 + left 0.5 + right 0.5 = 2 rem*/
    border: 0;
}

.icon-clear-badge {
cursor: pointer;
margin-left: 1rem;
}

.pointer {
  cursor: pointer;
}

.ref-badge {
  border: 1px solid #eceff3; /*rgba(0,0,0,.125); */
  background-color: #eceff3;
}

.refine-search-text {
  font-size: 0.8rem; /*rgba(0,0,0,.125); */
  color: #868181;
}

/* pop-up models
*/

.select-model {
    display: block; 
    position: fixed; 
    z-index: 1000; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.select-model.show {
    display: block; 
}

.select-model-content {
    position: relative;
    float:right;
    background-color: #fefefe;
    /*margin: auto;*/
    margin-right: 50px;
    padding: 0;
    border: 1px solid #888;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}


.single-line-edit {
	
}

.single-line-edit > .row {
	padding-bottom: 2px;
}

/*NdbDatePicker Range Selector */
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}
    
.date-selection-pop {
  position:absolute;
  top:100%;
  left:0;
  z-index:1000;
  display:block;
  float:left;
  min-width:10rem;
  /*padding:.5rem 0;*/
  margin:.125rem 0 0;
  font-size:1rem;
  color:#212529;
  text-align:left;
  list-style:none;
  background-color:#fff;
  background-clip:padding-box;
  border: 1px solid #dfdfdf;
  border-radius:.25rem;
}
    
.add-area {
    margin-left: 0.75rem;
    margin-top: 1rem;
}

.badge-click {
  cursor: pointer;
}
div.badge-click:hover {
  background-color: #495057 !important;
  text-decoration: underline;
}

/* Grid/List view filter
*/

.view-radio + label {
  transition: all 0.2s ease-in-out;
  color: #bbbdbf;
  cursor: pointer;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0 1rem 0 0;
}
.view-radio:checked + label {
  color: #212529;
}
.view-radio + label:hover {
  color: #212529;
}

.view-radio {
  display: none;
}

.list-title {
  font-size: 1.5rem;
}

.sort-selection {
  min-width: 200px;
  position: relative;
}

.sort-dropdown {
  width: 100%;
  text-align: left;
}

.category2-dropdown {
  width: 250px;
  text-align: left;
  font-size: 1.1rem;
  color: #007bff;
}

.sort-selection i {
  color:#007bff;
  margin-left: 1rem;
  margin-right: 2rem;
}

.th-sort-arrow {
  color:#007bff;
  margin-left: 1rem;
}

.read-more {
  /*font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;*/
  margin-top: 1rem;
  color: #307bff;
  cursor: pointer;
}
.read-more-in-table {
  /*font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;*/
  margin-top: 1rem;
  color: #307bff;
  cursor: pointer;
  font-size: 0.75rem;
}

.no-records {
    margin: 1rem auto 1rem auto; /*centering*/

    width: 20rem;
    font-size: 1.25rem;
}

.list-selection {
  max-width: 500px;
  width: 90%;
}

.modal-back {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  overflow-y: auto;
  height: 100%;
  min-height: 100vh;

  z-index: 9;
  background-color:rgba(0,0,0,0.4);
}

.modal-front {
  position: relative;

  min-width: 500px;
  width: 50%;

  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 100px;
  margin-bottom: 100px;
}

.category-nav {
  background: linear-gradient(180deg, rgba(233,236,239,1) 0%, rgba(233,236,239,0.2) 80%);
  padding: 1rem 20px 1rem 20px;
  margin-bottom: 1rem;
}

.slide-image {
  left: 50%;
  transform: translate(-50%, 0);
  position: relative;
}

.asso-link {
  font-style: italic;
  font-size: 0.8rem;
}

.nohref-link {
  color: #007bff !important;
  cursor: pointer;
}
.nohref-link:hover {
  color: #0056b3 !important;
}

.nohref-link.active, .nohref-link.active:hover {
  color: #fff !important;
} 


.list-check-box {
  zoom: 1.35;
}